<div class="item_groupe ggmap storeLocationType tracking">
<div class="ttr_carrefour">
    <a href="storeDataUrl"
        class="popupTheme_color_dark">
    <i class="icon-carrefour color_soft"></i>
    storeLocationType<br><span class="uppercase">storeDataName</span><strong>&nbsp;<span class="itin gm-location-distance">storeDistancekm</span></strong>
    </a>
</div>
<div class="adresse">
    storeDataAdress1<br>storeDataAdress2
</div>
<div class="number_pop">
    <a href="" class="tel"><span class="icon-telephone popupTheme_color_soft"></span>storeDataPhone</a>
    | <a href="" class="fax"><span class="icon-fax popupTheme_color_soft"></span>storeDataFax</a>
</div>
<div class="btn">
    <a href="" class="itineraire icon-itiniraire popupTheme_bg_color_soft">route</a>
    <a href="javascript: window.lgStorePickerScope.scopeId.popupLanguageList.toggle(window.event);
        window.lgStorePickerScope.scopeId.updateModel(&quot;storeDataId&quot;,&quot;storeDataName&quot;);
        window.lgStorePickerScope.scopeId.callUserFunction(&quot;storeDataId&quot;);"
        class="itineraire popupTheme_bg_color_soft"><span class="for_popup">chooseMarket</span><span class="icon-arrow-right"></span></a>
</div>
</div>