<div class="ttr_carrefour">
    <a href="javascript: window.lgStorePickerScope.scopeId.popupLanguageList.toggle(window.event);
        window.lgStorePickerScope.scopeId.updateModel(&quot;storeDataId&quot;,&quot;storeDataName&quot;);
        window.lgStorePickerScope.scopeId.callUserFunction(&quot;storeDataId&quot;);"
        class="popupTheme_color_dark">
    <i class="icon-carrefour popupTheme_color_soft"></i>
    storeLocationType<br><span class="uppercase">storeDataName</span><strong>&nbsp;<span class="itin gm-location-distance">storeDistancekm</span></strong>
    </a>
</div>
<div class="adresse">
    storeDataAdress1<br>storeDataAdress2
</div>

<div class="btn">
    <a href="javascript: window.lgStorePickerScope.scopeId.popupLanguageList.toggle(window.event);
        window.lgStorePickerScope.scopeId.updateModel(&quot;storeDataId&quot;,&quot;storeDataName&quot;);
        window.lgStorePickerScope.scopeId.callUserFunction(&quot;storeDataId&quot;);"
        class="itineraire popupTheme_bg_color_soft"><span class="for_popup">Choisir ce magasin</span><span class="icon-arrow-right"></span></a>
</div>
