/* CSS Document */


/*font-face css*/

@import url('icons.css?ver=6');
@font-face {
    font-family: 'carrefourbold';
    src: url('../fonts/omnes_carrefour-bold-webfont.woff2') format('woff2'), url('../fonts/omnes_carrefour-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'carrefourbolditalic';
    src: url('../fonts/omnes_carrefour-bolditalic-webfont.woff2') format('woff2'), url('../fonts/omnes_carrefour-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'carrefour';
    src: url('../fonts/omnes_carrefour-regular-webfont.woff2') format('woff2'), url('../fonts/omnes_carrefour-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'carrefouritalic';
    src: url('../fonts/omnes_carrefour-regularitalic-webfont.woff2') format('woff2'), url('../fonts/omnes_carrefour-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'carrefoursemibold';
    src: url('../fonts/omnes_carrefour-semibold-webfont.woff2') format('woff2'), url('../fonts/omnes_carrefour-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'carrefoursemibolditalic';
    src: url('../fonts/omnes_carrefour-semibolditalic-webfont.woff2') format('woff2'), url('../fonts/omnes_carrefour-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* end font-face css*/

.uppercase {
    text-transform: uppercase;
}

.clearfix:after {
    clear: both;
}
.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
}


@media screen and (min-width: 30rem) {
    a.option {
        width: calc(100% / 8);
    }
    li.option-datepicker {
        width: calc((100% / 8) * 2);
    }
}

.no_product {
    margin: 2rem auto 0;
    padding: 1rem;
    box-sizing: border-box;
    width: 25rem;
    font-size: 1rem;
    display: block;
    text-align: center;
    font-family: 'carrefoursemibold';
    text-transform: uppercase;
    background: #fff;
}

.storepickerpopup {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    font-family: 'carrefour';
    min-height: 100%;
    font-size: 1rem
}

section.body_expect {
    font-family: 'carrefour';
    min-height: 100%;
    /*overflow:hidden;*/
    width: 100%
}

a {
    text-decoration: none
}

.contenu {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 10;
    background: #fff
}

.head1 {
    background: #728732;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    color: #fff;
    font-family: 'carrefour';
    font-size: .8125rem;
    height: 2.5rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
}

.head1 select {
    font-family: 'carrefour';
    appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    border: none;
    position: relative;
    font-size: .8125rem;
    color: #fff;
    background: none;
    background: url(../img/icone.png) 94px 9px no-repeat;
    background-size: 500px auto;
    display: inline-block;
    padding: 0 1rem 0 0;
    margin: auto 0;
    float: left
}

.head1 select option {
    color: #000;
    background: #fff
}

.head1 .contenu {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -webkit-justify-content: space-between;
}

.trouver_mag {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    padding: 0 2.625rem 0 0
}

.trouver_mag label {
    display: inline-block;
    margin: 0 .8125rem 0 0;
}

.trouver_mag input[type=text] {
    width: 13.125rem;
    height: 1.6875rem;
    border-radius: 10px 0 0 10px;
    color: #282828;
    font-family: 'carrefour';
    font-size: .75rem;
    border: none;
    box-sizing: border-box;
    padding: 0 0 0 .75rem
}

.trouver_mag input[type=submit] {
    border: none;
    background: #b3d941 url(../img/icone.png) .35rem -.75rem no-repeat;
    background-size: 500px auto;
    border-radius: 0 10px 10px 0;
    height: 1.6875rem;
    margin: 0;
    display: inline-block;
    width: 1.75rem;
    font-size: .75rem;
    margin: 0 0 0 -.125rem
}

.acc {
    display: block;
    width: 1.125rem;
    height: 1.375rem;
    background: url(../img/icone.png) 0 -2.5rem no-repeat;
    background-size: 500px auto;
    position: relative;
    overflow: visible
}

.acc span {
    position: absolute;
    font-size: .5625rem;
    color: #59672f;
    top: 0;
    left: -.5rem;
    border-radius: 5px;
    background: #fff;
    padding: 0 .25rem
}

.form_head {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
}

a.welcome {
    color: #fff;
    font-size: .8125rem;
    display: table;
    margin: 0 0 0 1.375rem;
    padding: 0 1.5rem 0 0;
    position: relative
}

a.welcome:before {
    position: absolute;
    right: 0;
    top: 0;
    background: url(../img/icone.png) 0 9px no-repeat;
    background-size: 500px auto;
    content: '';
    width: 1.25rem;
    height: 1.25rem
}

.head1 .langue_sel {
    width: 3rem;
    background: url(../img/icone.png) 29px 9px no-repeat;
    background-size: 500px auto;
    margin: 0 0 0 1.375rem
}

.head2 {
    height: 4.375rem;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-bottom: 1px solid #dfdfdf;
}

.head2 .contenu {
    height: 4.375rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -webkit-justify-content: space-between;
}

.quecherchez {
    padding: .25rem;
    height: 2.25rem;
    width: 25.25rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
}

.quecherchez select {
    height: 1.75rem;
    width: 7rem;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    padding: 0 .25rem 0 0;
    font-size: .625rem;
    background: #f3f3f3 url(../img/icone.png) 87px -63px no-repeat;
    background-size: 500px auto;
}

.quecherchez input[type=text] {
    color: #cccccc;
    font-family: 'carrefouritalic';
    border: none;
    padding: 0 0 0 .5rem;
    font-size: .875rem;
    height: 1.75rem;
    width: 17.625rem
}

.quecherchez input[type=submit] {
    border: none;
    background: url(../img/icone.png) 0px -91px no-repeat;
    background-size: 500px auto;
    height: 1.5rem;
    width: 1.5rem
}

.link_soc {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -webkit-justify-content: space-between;
}

.link_soc a {
    display: block;
    background: url(../img/icone.png) 0px -304px no-repeat;
    width: 2.5rem;
    height: 2rem;
    position: relative;
    transition: all 500ms
}

.link_soc a:before {
    position: absolute;
    background: url(../img/icone.png) no-repeat;
    width: 2.5rem;
    height: 2rem;
    content: '';
    z-index: -1
}

.link_soc a.fbook_rs:before {
    background-position: -89px -295px
}

.link_soc a.fbook_rs:hover:before {
    background-position: -89px -309px
}

.link_soc a.tweet_rs:before {
    background-position: -130px -295px
}

.link_soc a.tweet_rs:hover:before {
    background-position: -130px -309px
}

.link_soc a.pint_rs:before {
    background-position: -168px -295px
}

.link_soc a.pint_rs:hover:before {
    background-position: -168px -309px
}

.link_soc a.mail_rs:before {
    background-position: -209px -295px
}

.link_soc a.mail_rs:hover:before {
    background-position: -209px -309px
}

.link_soc a.share_rs:before {
    background-position: -250px -295px
}

.link_soc a.share_rs:hover:before {
    background-position: -250px -309px
}

.menu {
    height: 2.1875rem;
    width: 100%;
    border-bottom: 1px solid #dfdfdf
}

ul li {
    list-style-type: none
}

ul {
    margin: 0;
    padding: 0
}

ul.menu_ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

ul.menu_ul li a.home {
    display: block;
    background: url(../img/icone.png) 3px -196px no-repeat;
    background-size: 500px auto;
    width: 1.875rem;
    height: 1.375rem;
    margin: 0 1rem 0 0;
    position: static;
}

ul.menu_ul li {
    position: relative;
}

ul.menu_ul li:after {
    position: absolute;
    content: '|';
    top: 0;
    left: 0;
    color: #dfdfdf
}

ul.menu_ul li a {
    padding: 0 1rem;
    position: relative;
    color: #282828;
}

.contenu_corps {
    position: relative;
    width: 100%;
    height: calc( 100% - 158px ); /* - la hauteur du menu */
    top: 0;
    left: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 2
}

.map_for_page {
    width: 100%;
    height: 100%
}

.body_expect {
    z-index: 3;
}

.body_expect .contenu {
    padding: 0 0 2rem 0
}

.fildar {
    display: table;
    background: rgba(94, 85, 71, 0.6);
    border-radius: 0 0 10px 10px;
    height: 1.25rem;
    width: auto;
    font-size: .625rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 .5rem
}

.fildar a.home {
    background: url(../img/icone.png) 3px -219px no-repeat;
    background-size: 500px auto;
    width: 1.875rem;
    height: 1.25rem;
    display: inline-block
}

.breadcrumblink {
    color: #fff;
}

.fildar ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
}

.body_expect .fildar {
    position: relative;
    z-index: 3
}

.fildar ul li {
    position: relative;
    margin: 0;
    padding: 0 1rem 0 0;
    height: 1.25rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
}

.fildar ul li:after {
    position: absolute;
    content: '';
    background: url(../img/icone.png) 0px -498px no-repeat;
    height: 1.25rem;
    width: 1rem;
    right: -.25rem;
    top: 0
}

.fildar ul li:last-child {
    padding-right: 0;
}

.fildar ul li:last-child:after {
    background: none
}

.contenu_left {
    margin: 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    z-index: 3;
}

.search_form {
    align-items: center;
    width: 80%;
    margin: 0 auto;
    display: flex;
    border-radius: 0 10px 0 0;
    padding: .875rem;
    clear: both;
    overflow: hidden;
    height: auto;
}

form.recherche_left {
    display: block;
    width: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative
}

.gm-geolocate {
    position: absolute;
    left: 12em;
    top: .5rem;
    font-size: 1.5rem
}


/*form.recherche_left input{ background-image:url(../img/icone.png); background-size:500px auto}*/

form.recherche_left input[type=text] {
    border: none;
    background-color: #fff;
    font-size: .875rem;
    color: #282828;
    font-family: 'carrefour';
    width: 20rem;
    height: 2.5rem;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
    padding: 0 0 0 .75rem;
    background-position: 121px -270px
}

form.recherche_left button {
    color: #fff;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    font-family: 'carrefour';
    border-radius: 0 5px 5px 0;
    margin: 0;
    background-position: 11px -306px;
    cursor: pointer;
}

.option_link {
    width: 80%;
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

a.option {
    display: block;
    width: calc(100%/8);
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    height: 5.625rem;
    align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    color: #fff;
    font-size: .75rem;
    font-family: 'carrefour';
    text-align: center;
    padding: .5rem .25rem .25rem;
    box-sizing: border-box;
    letter-spacing: 0;
}

a.option:hover, a.option.active {
    background-color: #5e5547
}

a.option.active {
    border-radius: 0;
}

a.rond {
    border-radius: 0 0 0 10px
}

.option_link a span {
    display: block;
    /*background-image:url(../img/icone.png); */
    width: 3rem;
    height: 2.75rem;
    font-size: 2.75rem;
}


/*.magasin{ background-position:-6px -720px}
.parking{ background-position:-82px -720px}
.open{ background-position:-160px -720px}
.assorti{ background-position:-238px -720px}
.course{ background-position:-319px -720px}
.telephone{ background-position:-395px -720px}
.banque{ background-position:-472px -720px}
.galerie{ background-position:-546px -720px}*/

.onglet_tt {
    border-radius: 0 0 15px 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 90px;
    display: none;
    width: 100%;
    min-height: 3rem;
    background: #5e5547;
}

.liste_option li {
    display: inline-block;
    width: calc( ( 100% - 14px) / 6);
    margin: 0;
    padding: .25rem 0 0 1rem;
}

.liste_option {
    margin: 0;
    padding: .5rem 1rem .5rem 0;
}

/*.liste_option a {
    color: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    font-size: .75rem;
    padding: .5rem;
    border-radius: 5px;
    border-bottom: 1px solid #5e5547
}*/

.liste_option a span {
    display: block;
    margin: 0 .75rem 0 0;
    height: auto;
    width: auto;
    font-size: 1.5rem
}

.liste_option a.active {
    background: #4d4538;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .25) inset;
    border-bottom: 1px solid #655b4c
}

.liste_option a:hover, .liste_option a.active:hover {
    background: #796d5b;
}

.filtrettl {
    font-size: .875rem;
    color: #fff;
    font-family: 'carrefourbold';
    display: table;
    vertical-align: middle;
    margin: 1rem 0
}

.filtrettl span {
    display: table-cell;
    text-transform: uppercase;
    font-weight: normal;
    /*background:#8aa636;*/
    padding: 0 .5rem 0 0
}

.all_filtre {
    position: relative;
    display: none;
    box-sizing: border-box;
    padding: 0 .5rem;
    margin-bottom: 1px
}

.all_filtre:before {
    position: absolute;
    content: '';
    /*background:url(../img/icone.png) 109px -799px no-repeat*/
    ;
    top: 0;
    right: 0;
    height: 1rem;
    width: 100%
}

.itemftr {
    color: #fff;
    font-size: .75rem;
    margin: .25rem 15px;
    display: inline-block;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    line-height: 1;
    padding: .5rem 0
}

.all_filtre {
    width: 100%
}

.itemftr a {
    color: #ffffff;
    text-align: center;
    height: .8125rem;
    line-height: 1.1rem;
    width: .8125rem;
    padding: .125rem .125rem .125rem 10px;
    box-sizing: border-box;
    border-radius: 200px;
    vertical-align: middle;
}

.itemftr a:hover {
    color: #eaeaea
}

.slide_home {
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 2;
    /*overflow-x:hidden*/
}

.fiche_parent .slide_home {
    position: static
}

.slide_home:before, .open_close_slide:before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
}

.slide_home .contenu {
    box-sizing: border-box;
    padding: 0 0 0 14rem
}

.slide_home_magasin {
    width: 95%;
    margin: 0 auto 20px auto;
}

.item_slide_magasin {
    width: 13.5rem;
    height: 9.375rem;
    background: #fff;
    display: inline-block
}

.slide_magasin {
    height: 9.375rem;
    width: 100%
}

.slide_magasin .item {
    width: 13.5rem;
    height: 9.375rem;
    background: #fff;
}

.slick-next {
    border-radius: 10px 0 0 10px
}

.slick-prev {
    border-radius: 0 10px 10px 0
}

.slidefood .slick-next, .slidefood .slick-prev, .slide_home_magasin .slick-next, .slide_home_magasin .slick-prev, .slide_fiche_carrefour .slick-next, .slide_fiche_carrefour .slick-prev {
    width: 1.6875rem;
    height: 5.625rem;
}

.slidefood .slick-next, .slidefood .slick-prev {
    top: 8rem
}


/*.slide_home_magasin .slick-prev,  .slide_home_magasin .slick-prev:hover{background:url(../img/next-prev.png) center left -6px no-repeat; width:1.6875rem; height:5.625rem;}*/


/*.slide_home_magasin .slick-next:before, .slide_home_magasin .slick-prev:before{ content:'';}*/

.slide_home_magasin .slick-next {
    right: -2.8%;
    z-index: 10
}

.slide_home_magasin .slick-prev {
    left: -2.8%;
    z-index: 10
}

.slide_home_magasin .slick-list {
    overflow: visible
}

.item_groupe {
    background: #fff;
    border-radius: 5px;
    display: inline-block;
    /* min-height: 9.375rem; */
    margin: 0 .5rem;
    opacity: .5;
    position: relative;
    box-sizing: border-box;
    padding: .75rem
}

.languette {
    position: absolute;
    right: 0;
    top: .5rem;
    border-radius: 5px 0 0 5px;
    background: #00900a;
    padding: .125rem .25rem .125rem .5rem;
    color: #fff;
    font-family: 'carrefoursemibold';
    font-size: .75rem;
    text-transform: uppercase
}

.item_groupe.slick-active {
    opacity: 1
}

.ttr_carrefour {
    margin: 0;
    padding: 0 0 .5rem 0;
    position: relative;
    display: block;
    width: 80%;
    text-rendering: optimizeLegibility;
    font-weight: normal;
}

.ttr_carrefour a {
    font-family: 'carrefoursemibold';
    font-size: .875rem;
}

.ttr_carrefour a strong {
    font-weight: normal!important;
    font-family: Arial, Helvetica, sans-serif
}

.ttr_carrefour a b {
    font-weight: 100;
    font-family: 'carrefourbold';
    text-transform: uppercase
}

.ttr_carrefour a i {
    float: left;
    line-height: 1;
    font-size: .65rem;
    margin: 0 4px 25px 0;
    width: 1.125rem;
    display: inline-block;
    height: 1rem
}

.ttr_carrefour a i:before {
    position: absolute;
    font-size: 1rem;
    top: 3.5px
}

.ttr_carrefour a strong {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75rem;
    text-transform: lowercase;
}

.carrefour-drive {
    color: #ed2987
}

.webshop {
    color: #30b3e7
}

.market {
    color: #f7313d
}

.contenu.relative_dv {
    position: relative;
    padding: 0;
    margin-bottom: -1.25rem;
    z-index: 10
}

.hypermarket {}


/* animation for geolocalisation*/

.load_location {
    height: 1.65rem;
    width: 1.5rem;
    animation: location_rotate 2s linear infinite;
}

@-moz-keyframes location_rotatelocation_rotatelocation_rotate {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes location_rotatelocation_rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes location_rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*end animation*/

.hide_all_content {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.adresse {
    color: #5e5547;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75rem
}

.items_store .adresse {
    float: left;
    width: calc(100% - 91px);
}

.items_store .btn {
    float: right;
    margin-top: -3px;
    padding: 0;
}

.btn {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: .5rem 0
}

.btn a {
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: .75rem;
    margin: 0 .25rem 0;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    box-sizing: border-box;
    height: 2.1875rem;
    width: 2.1875rem;
}


/*.btn a:before{background-image:url(../img/icone.png); background-repeat:no-repeat;  background-size:450px auto; position:absolute; content:''; height:2rem; width:2rem; top:0; left:0rem}*/

a.itineraire {
    padding: .5rem .5rem .5rem .25rem;
    width: auto;
}

.btn a.itineraire:before {
    font-size: 1.25rem
}

.btn a:before {
    font-size: .85rem;
    margin: 0 .25rem
}

a.itineraire:before {
    background-position: -24px -412px
}

a.addfav, a.gopagefiche, a.itineraire {
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
}

a.addfav span {
    font-size: 1.25rem;
    text-align: center
}

.languette.closecolor {
    background: #ee0000
}

h2.h2modif {
    background-color: #ffffff;
    position: relative;
    margin: 0 0 1rem 0;
    font-family: 'carrefoursemibold';
    font-size: .9375rem;
    text-transform: uppercase;
    padding: .25rem  1rem .5rem .5rem;
    border-radius: 0 0 10px 0;
    display: table;
    width: auto;
    white-space: nowrap;
    font-weight: normal
}

h2.h2modif span {
    display: inline-block;
    margin: 0 .5rem 0 0
}

.contenu_faux_bt {
    position: fixed;
    bottom: 15rem;
    right: 2rem;
    z-index: 3
}

.contenu_faux_bt a {
    height: 2.625rem;
    width: 2.625rem;
    display: block;
    color: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    font-size: 1.5rem
}

.contenu_faux_bt a.plus {
    border-radius: 5px 5px 0 0;
    margin: 0 0 1px 0
}

.contenu_faux_bt a.moins {
    border-radius: 0 0 5px 5px;
    margin: 0 0 1px 0
}

.ggmap {
    width: 21rem;
    min-height: 10rem;
    position: relative;
    background: #fff;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    opacity: 1;
    margin: 0
}

.background-clear {
    background-color: transparent;
}

.gm-style-iw {
    width: 21rem!important
}

.gm-style-iw {
    margin-top: .35rem;
    border-radius: 5px;
}

.gopagefiche span {
    font-size: .5rem;
}

.gm-style-iw .ttr_carrefour {
    width: 75%;
}

.ggmap .gopagefiche {
    width: auto;
    padding: .65rem .75rem;
}

.ggmap .gopagefiche span:first-child {
    font-size: .75rem;
    padding-right: .5rem
}

.ggmap .gopagefiche:before {
    left: auto;
    right: -3px
}

.ggmap .btn {
    justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
}

.ggmap .adresse {
    margin: 0;
    padding: .25rem 0;
    width: 75%
}

.number_pop {
    display: block;
    margin: 0;
    padding: .5rem 0;
    width: 100%;
    box-sizing: border-box
}

.item_groupe .number_pop {
    width: 75%
}

.number_pop a {
    display: inline-block;
    padding: 0 .5rem;
    position: relative;
    font-size: .75rem;
    color: #5e5547;
}

.number_pop a span {
    margin-right: .25rem;
    font-size: .75rem
}

.ggmap .languette {
    top: 1.5rem
}

.close_map {
    right: 40px!important;
    top: 17px!important
}

.mobile_tablet_only {
    display: none
}

.mobile_only {
    display: none
}

.disnone_desktop {
    display: none
}

.fiche_parent {
    position: relative;
    min-height: 30rem;
    background-color: #d8d8d8;
    clear: both;
    overflow: hidden
}

.contenu_filtre {
    display: block;
    clear: both;
    height: auto
}

.contenu_filtre .itemftr:last-child {
    border: none
}

.contenu_filtre span span {
    display: none;
}

.slide_fiche_carrefour {
    width: 100%;
    height: 27.5rem;
    box-sizing: border-box;
    margin: 0 0 -10.625rem 0
}

.item_slide_fiche {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 27.5rem!important;
    display: block
}

.slide_fiche_carrefour .slick-next {
    right: 0
}

.slide_fiche_carrefour .slick-prev {
    left: 0
}

.contenu_info_fiche {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -webkit-justify-content: space-between;
    margin: 0 0 1rem 0
}

.all_fiche_content {
    margin: 0 auto;
    width: 60rem;
    display: block;
    min-height: 10.625rem;
    position: relative;
}

.left_content_fiche {
    background: #fff;
    border-radius: 0 5px 5px 5px;
    width: 35.9375rem;
}

.contenu_info_fiche h1, .contenu_info_fiche h2, .offer_slide h2, .form_itineraire h2 {
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0 .75rem;
    font-family: 'carrefoursemibold';
    text-transform: uppercase;
    color: #fff;
    font-weight: normal;
    height: 2rem;
    font-size: .9375rem;
    display: table;
    vertical-align: middle;
    line-height: 1;
    border-radius: 0 0 10px 0;
    font-weight: normal
}

.contenu_info_fiche h2 span, .contenu_info_fiche h1 span, .offer_slide h2 span, .form_itineraire h2 span {
    display: table-cell;
    vertical-align: middle
}

.contenu_info_fiche h2 span:first-child, .offer_slide h2 span:first-child, .contenu_info_fiche h1 span:first-child {
    padding: 0 .75rem 0 0;
    font-size: 1.125rem
}

.service {
    width: 100%;
    background: #fff;
    border-radius: 0 5px 0 0
}

.contenu_info_fiche h3 {
    color: #5e5547;
    border-bottom: 1px solid #5e5547;
    font-size: 1rem;
    font-weight: normal;
    font-family: 'carrefoursemibold';
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    margin: 0 0 .5rem 0;
    line-height: 1;
    padding: .5rem 0 .35rem 0
}

.contenu_info_fiche h3 span {
    font-size: 1rem
}

.openinghour2 {
    padding: 1rem 0 0 0
}

.openinghour2 a b {
    font-weight: normal
}

.contenu_info_fiche h3 span {
    margin-right: .5rem
}

.info_store_col1 {
    float: left;
    width: 14.25rem;
    padding: 1rem 0 0 1rem;
    box-sizing: border-box;
}

.info_store_col2 {
    float: left;
    width: 21rem;
    padding: 1rem 0 0 1rem;
    box-sizing: border-box
}

.option_item li {
    color: #5e5547;
}

.hour_open {
    display: table;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75rem;
    padding: .15rem 0 .15rem 1rem;
    position: relative;
    margin: .2rem 0;
    font-weight: 1.5
}

.manager_info {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 1rem 0;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
}

.info_text_manager {
    width: 50%;
    font-size: .875rem;
    font-family: 'carrefour'
}

.post_name {
    font-family: 'carrefoursemibold'
}

.manager_info img {
    width: 45%;
    height: auto;
    border-radius: 5px 5px 0 0
}

.close_time {
    color: #f44e00
}

.extraordinary_open {}

.hour_open * {
    display: table-cell
}

.hour_open b {
    width: 60%;
    padding-right: 6%;
    box-sizing: border-box;
}

.hour_open span {
    width: 55%
}

.hour_open.today {
    position: relative;
}

.hour_open.today:before {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%
}

.today:after {
    content: 'e';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    padding: .25rem 0 0 .35rem;
    font-size: 6px;
    box-sizing: border-box;
}

.odd {
    background: #f8f8f8
}

.adresse_avenue {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    color: #5e5547;
    justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -webkit-justify-content: space-between;
}

.adresse_avenue .number_pop a {
    display: block
}

.info_adresse p {
    font-size: .75rem;
    margin: 0;
    padding: 0 .5rem;
}

.info_adresse {
    display: block;
    width: 60%;
}

.content_image {
    height: 4.6rem;
    overflow: hidden;
    width: 10rem
}

.content_image img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0
}

.map_detail {
    width: 100%;
    height: 22rem;
    border-radius: 10px;
    margin: 1rem 0
}

.option_item .btn {
    padding: 0 0 .5rem 0
}

.option_item .btn a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
}

.option_item .btn a span {
    display: block;
    margin: 0 1rem 0 .25rem
}

.option_item .btn span {
    font-size: 1.5rem
}

.option_item .btn a {
    width: 60%
}

.option_item .btn a:first-child {
    width: 40%
}

.right_content_fiche {
    width: 23rem;
    display: block;
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none
}

.listservice {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 1rem 0;
}

.itineraire_content {
    display: none;
    transition: all 500ms;
    position: absolute;
    border-radius: 0 0 5px 5px;
    background: #fff;
    width: 100%;
    min-height: 20rem;
    padding: 0 0 1rem 0;
    z-index: 6;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.itineraire_content h2 {
    display: table;
    margin: 0 0 1.375rem 0
}

.itineraire_content h2 span {
    font-size: .9375rem
}

.fiche_btn {
    justify-content: flex-end;
    -moz-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
}

.itineraire_content button {
    width: 2.5rem
}

.itineraire_content input[type=text] {
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: #fff;
    height: 2.25rem;
    box-sizing: border-box;
    padding: 0 0 0 1.25rem;
    font-family: 'carrefouritalic';
    color: #b0afaf;
    width: 100%
}

.itineraire_text_area {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1.5625rem 0 3.125rem;
    background: url(../img/bg_itineraire.png) left 12px top 2px no-repeat;
}

.form_itineraire {
    height: 11rem
}

.list_itineraire {
    width: 95%;
    margin: .5rem auto;
    display: block;
}

.itineraire_scroll {
    width: 100%;
    padding: 1rem 2rem;
    box-sizing: border-box;
    font-family: arial;
    font-size: .75rem;
    color: #5e5547
}

.close_itineraire {
    position: absolute;
    right: 1.5625rem;
    top: .5rem;
    font-size: 1.25rem;
    width: auto
}

.content_text_search input[type=text] {
    width: calc(100% - 2.5rem)
}

.content_text_search {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0;
    padding: 1rem 0
}

.itineraire_content .content_text_search input {
    border-radius: 5px 0 0 5px
}

.geolocalisation_detail {
    position: relative;
    margin: 0;
    padding: 0
}

.geolocalisation_detail a {
    position: absolute;
    right: .25rem;
    top: .35rem;
    font-size: 1.5rem
}

.geolocalisation_detail a span.gm-geolocate {
    position: static;
}

.itineraire_content .content_text_search button {
    border-radius: 0 5px 5px 0;
    border: none;
    height: 2.25rem;
    color: #fff;
    font-size: 1rem
}

.listservice li {
    width: 50%;
    box-sizing: border-box;
    padding: 0 1rem .5rem 1rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
}

.namelisteservice {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    color: #5e5547;
    border-bottom: 1px solid #f3f3f3;
    font-size: .75rem;
    height: 1.35rem;
    align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
}

.listservice li span {
    width: 10%;
    margin: 0 0 0 2%;
    font-size: 1.35rem
}

.listservice li span.namelisteservice {
    width: 85%;
    min-height: 2rem;
    margin: 0 0 0 11%;
    font-size: .85rem;
    line-height: 1
}

.slidefood {
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0 0;
    background: #fff;
}

.imageitemslidefood {
    height: 10.875rem;
    overflow: hidden;
}

.imageitemslidefood img {
    width: 100%;
    height: auto
}

.slidefood h3 {
    margin: 0;
    padding: .5rem 0;
    color: #5e5547;
    font-size: 1rem;
    font-family: 'carrefoursemibold';
    font-weight: normal;
    border: none;
    text-align: center;
    text-align: center;
    display: block
}

.slidefood .btn {
    padding: 1rem;
    box-sizing: border-box;
}

.slidefood .btn a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
}

.btn a.see_more {
    width: 15rem;
    padding: 0 1rem;
    box-sizing: border-box
}

.btn a.see_more span {
    font-size: .5rem;
    margin: 0 0 0 .5rem
}

.slidefood .btn span {
    font-size: 1.5rem;
    text-align: center
}

.left_content_fiche {}

.offer_slide {
    width: 100%;
    min-height: 15rem;
    margin: 0 0 1rem 0;
    background: #fff;
    border-radius: 0 10px 10px 10px;
    display: block
}

.item_promo .content_image {
    width: 8.125rem;
    height: 8.125rem;
    display: block;
    margin: 0 auto .5rem auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
}

.item_promo {
    box-sizing: border-box;
    margin: 0 1rem
}

.slick-initialized .item_promo.slick-slide {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
}

.date_promo {
    text-align: center;
    color: #282828;
    font-family: 'carrefour';
    font-size: .625rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
}

.date_promo span {
    font-size: 1rem;
    margin: 0 .25rem 0 0
}

.name_product {
    font-family: 'carrefoursemibold';
    color: #282828;
    font-size: .875rem;
    margin: 0;
    padding: .25rem;
    display: block;
    text-align: center
}

.promo_slide {
    margin: .5rem 1rem 1rem 1rem;
    padding: 1.25rem 0 0 0;
    border-top-style: solid;
    border-top-width: 1px;
}

.promo_slide .slick-next {
    right: -.75rem
}

.promo_slide .slick-prev {
    left: -.75rem
}

.promo_slide .slick-prev::before, .promo_slide .slick-next::before {
    font-size: .75rem
}

.reduc {
    top: 3.75rem;
    right: .5rem;
    position: absolute;
    background: url(../img/promo.png) center no-repeat;
    background-size: 100% auto;
    height: 3.4375rem;
    width: 3.4375rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
    font-family: 'carrefoursemibold';
    font-size: .875rem;
    color: #fff;
}

.for_popup {
    display: none;
}

.gm-style-iw .for_popup {
    display: block
}

.gm-style-iw .btn a {
    width: 47%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
}

.openclose {
    position: absolute;
    right: 1rem;
    top: 3.5rem;
    width: 4.25rem;
    font-size: .625rem;
    color: #5e5547;
    text-align: center
}

.icone_ouverture {
    font-size: 1.75rem;
    display: table;
    margin: .25rem auto
}

.open_close_slide {
    position: absolute;
    right: 2rem;
    top: -2.5rem;
    height: 2.5rem;
    width: 2.5rem;
}

.open_close_slide:before {
    border-radius: 5px 5px 0 0
}

.open_close_slide p {
    border-radius: 200px;
    background: #fff;
    position: relative;
    z-index: 5;
    width: 1.5rem;
    height: 1.5rem;
    margin: .5rem auto;
    box-sizing: border-box;
    padding-top: .25rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    font-size: .85rem
}

.slide_home .slick-track {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
}

#merge_with_service {
    display: block;
    height: auto;
    position: relative;
    overflow: hidden;
}

.accord {
    height: auto;
    position: static;
    overflow: visible
}

@media screen and (max-width:75rem) {
    .contenu {
        width: 100%;
    }
    .ttr_carrefour {
        width: 70%
    }
    /*.slide_home{ position:relative}*/
    /*.contenu_faux_bt{ bottom:auto; top:2rem}*/
}

@media screen and (max-width:64rem) {
    .mobile_tablet_only {
        display: block
    }
    .link_soc a {
        background: none;
        border-radius: 5px;
        height: 3rem;
        width: 3rem;
        margin: 0 .25rem 0 0
    }
    .link_soc a:before {
        z-index: 1;
        top: 1px;
        left: 1px
    }
    .link_soc a.fbook_rs {
        background-color: #325a8f;
    }
    .link_soc a.tweet_rs {
        background-color: #38a9d0;
    }
    .link_soc a.pint_rs {
        background-color: #a7282d;
    }
    .link_soc a.mail_rs {
        background-color: #c4c4c4;
    }
    .link_soc a.share_rs {
        background-color: #748a8d;
    }
    .link_soc a.fbook_rs:before, .link_soc a.fbook_rs:hover:before {
        background-position: -87px -302px
    }
    .link_soc a.tweet_rs:before, .link_soc a.tweet_rs:hover:before {
        background-position: -130px -300px
    }
    .link_soc a.pint_rs:before, .link_soc a.pint_rs:hover:before {
        background-position: -168px -301px
    }
    .link_soc a.mail_rs:before, .link_soc a.mail_rs:hover:before {
        background-position: -206px -302px
    }
    .link_soc a.share_rs:before, .link_soc a.share_rs:hover:before {
        background-position: -247px -301px
    }
}

@media screen and (max-width:61.25rem) {
    /*980*/
    .all_fiche_content {
        width: 100%;
        padding: .5rem;
        box-sizing: border-box
    }
    .left_content_fiche {
        width: 60%;
    }
    .info_store_col1 {
        width: 40%;
    }
    .info_store_col2 {
        width: 58%;
    }
    .right_content_fiche {
        width: 39%;
    }
}

@media screen and (max-width:50rem) {
    .all_info_store {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-flex-direction: column;
    }
    .info_store_col1, .info_store_col2 {
        padding: .5rem;
        width: 100%;
    }
    .listservice li {
        width: 100%
    }
}

@media screen and (max-width:37.5rem) {
    .contenu_info_fiche {
        flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-flex-direction: column;
    }
    .left_content_fiche, .right_content_fiche {
        width: 100%;
        margin: .5rem 0
    }
    .listservice li {
        width: 50%
    }
}

@media screen and (max-width:30rem) {
  .option_link {
    width: 100%;
    margin: 0;
}

.gm-geolocate {
    left: 3.2em;
}

.liste_option li {
    display: block;
    width: auto;
}

    #merge_with_service {
        height: 0px;
        overflow: hidden
    }
    .slick-slider.slidefood {
        border-radius: 0;
        margin: 0;
        padding: 1rem 0 0 0;
    }
    .close_itineraire {
        top: 1.5rem
    }
    a.option {
        justify-content: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -o-justify-content: center;
        -ms-justify-content: center;
        width: 50%
    }
    .no_product {
        width: 80%
    }
    .open_close_slide {
        right: .5rem
    }
    .ggmap {
        width: 19rem;
    }
    .left_content_fiche {
        margin: -.5rem 0 .5rem 0
    }
    .listservice li {
        width: 100%
    }
    .listservice li span {
        font-size: 1.75rem
    }
    .listservice li span.namelisteservice {
        min-height: 3rem
    }
    .long_bt {
        width: 100%;
        text-align: center;
        margin: 1rem 0;
        border-radius: 3px;
        color: #fff;
        height: auto;
        padding: .5rem;
        box-sizing: border-box;
        display: -webkit-box!important;
        display: -moz-box!important;
        display: -ms-flexbox!important;
        display: -webkit-flex!important;
        display: flex!important;
        justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -webkit-align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: .75rem;
        height: 2.75rem
    }
    .long_bt span {
        margin: 0 .5rem 0 0;
        font-size: .85rem
    }
    .mobile_only {
        display: block
    }
    .disnone_desktop{ 
        display: inline;
        font-style: normal
    }
    .disnone_mobile {
        display: none
    }
    .contenu_left {
        width: 95%;
        padding-top: 0
    }
    /*.contenu_corps{ position:relative; height:28rem}*/
    .body_expect .contenu {
        padding: 0
    }
    .fildar {
        display: none;
    }
    .search_form {
        border-radius: 0;
        margin: 0
    }
    form.recherche_left {
        width: 65%;
        float: left
    }
    form.recherche_left input[type="text"] {
        width: 70%
    }
    form.recherche_left button {
        width: 2.5rem;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        justify-content: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        padding: 0 .25rem;
    }
    .gm-geolocate {
        right: 25%
    }
    .slick-slide.item_groupe {
        width: 95%;
    }
    .contenu_faux_bt {
        bottom: 15rem;
        right: .5rem;
        top: auto;
        position: absolute
    }
    .slide_home {
        position: absolute;
    }
    .slide_home_magasin {
        width: 80%
    }
    .filtrettl {
        display: none
    }
    .all_filtre::before {
        background: none
    }
    .mobile_only.filter_mobile {
        display: inline-block;
        float: right;
        color: #fff;
        text-transform: uppercase;
        margin: 0 0 0;
        padding: .5rem 0 0 0;
        font-family: 'carrefoursemibold';
        font-size: .875rem
    }
    .mobile_only.filter_mobile i {
        letter-spacing: -2px;
        display: inline-block;
        margin: 0 .25rem
    }
    .slide_fiche_carrefour, .item_slide_fiche {
        height: 9.375rem!important;
    }
    .slide_fiche_carrefour {
        margin: 0;
    }
    .all_fiche_content {
        padding: 0
    }
    .reduc {
        right: 40%
    }
    .close_mobile {
        position: relative;
    }
    .close_mobile .open_close_accord {
        position: absolute;
        right: .75rem;
        top: .5rem
    }
    .accord {
        height: 0;
        position: relative;
        overflow: hidden
    }
    .itineraire_content {
        position: static;
        margin: 1rem auto;
        width: 100%
    }
    .slimScrollDiv {
        height: 20rem!important
    }
    .offer_slide {
        min-height: auto;
        border-radius: 0 5px 0 0
    }
    .contenu_info_fiche h1, .contenu_info_fiche h2, .offer_slide h2, .form_itineraire h2 {
        max-width: 70%
    }
}

@media screen and (max-width:20rem) {
    .ggmap {
        width: 100%;
    }
    h2.h2modif {
        font-size: .875rem;
    }
    .ttr_carrefour a {
        font-size: .75rem
    }
    .hide_all_content {
        min-height: 10rem
    }
    .contenu_faux_bt {
        bottom: 15rem
    }
}


/*infobull for google map*/


/*end infobull*/


/*slide*/

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}


/*.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
*/

.slick-prev:hover:before, .slick-prev:focus:before, .slick-prev:visited:before, .slick-next:visited:before, .slick-next:hover:before, .slick-next:focus:before {
    opacity: 1;
}


/*.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}
*/

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 0;
    z-index: 5;
}

[dir='rtl'] .slick-prev {
    right: 0;
    left: auto;
}

.slick-prev:before {
    content: '\64';
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    right: 0;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: '\65';
}

[dir='rtl'] .slick-next:before {
    content: '←';
}


/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    right: 1rem;
    position: absolute;
    top: -.5625rem;
    display: block;
    width: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 1rem;
    height: 20px;
    margin: 0 .25rem;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 5px;
    border-radius: 200px;
    cursor: pointer;
    font-size: 0px;
    color: transparent;
    border: 0;
    outline: none;
    background: #282828;
}

.slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: black;
}

.slick-dots li.slick-active button, .slick-dots li button:hover {
    /*background-color:#b11a31*/
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


/* end slide*/

.color_dark_brank_market {
    color: #8aa636
}

.color_dark_brand_drive {
    color: #ed2987
}

.color_dark_brand_hyper {
    color: #30b3e7
}

.color_dark_brand_express {
    color: #e71610
}

.color_dark_brand_gb {
    color: #e71610
}


.liste_option form {
    width: 100%;
}

.liste_option form input {
    width: 12em;
}

.liste_option a, .liste_option form {
    color: #fff;
    min-height: 31px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    font-size: .75rem;
    padding: .5rem;
    border-radius: 5px;
    border-bottom: 1px solid #5e5547;
}

.liste_option form span {
  display: block;
margin: 0 .75rem 0 0;
height: auto;
width: auto;
font-size: 1.5rem;
}

._720kb-datepicker-calendar {
  background: white;
  color: #333;
}

/*
 * Icon + Color Carrefour
 */

.brand-hyper, .brand-market, .brand-gb, .brand-express, .brand-drive,
.ttr_carrefour i{
    background-image: url("../img/icone.png");
    background-repeat: no-repeat;
}

.ttr_carrefour i{
    background-size: 375px auto;
}

.brand-hyper, .brand-market, .brand-gb, .brand-express, .brand-drive {
    background-size: 450px auto;
    height: 24px !important;
    width: 24px !important;
}

.ttr_carrefour .color_soft_light {
    color: #b3d941 !important;
}

/* Hyper */
.Hypermarkt,
.Hypermarché {
    border-left: 4px solid #004f9f;
}

.Hypermarkt .ttr_carrefour i,
.Hypermarché .ttr_carrefour i {
    background-position: -126px -346px;
}

.brand-hyper {
    background-position: -150px -414px;
}

.Hypermarkt .ttr_carrefour a,
.Hypermarché .ttr_carrefour a {
    color: #004f9f;
}

.Hypermarkt .ttr_carrefour .color_soft_light,
.Hypermarché .ttr_carrefour .color_soft_light {
    color: #004f9f;
}

/* Market */
.market, .GB {
    border-left: 4px solid #e71610;
}

.market .ttr_carrefour i, .GB .ttr_carrefour i {
    background-position: -153px -346px;
}

.brand-market, .brand-gb {
    background-position: -180px -414px;
}

.market .ttr_carrefour a, .GB .ttr_carrefour a {
    color: #e71610;
}

.market .ttr_carrefour .color_soft_light, .GB .ttr_carrefour .color_soft_light {
    color: #e71610;
}

/* Express */
.express {
    border-left: 4px solid #8aa636;
}

.express .ttr_carrefour i {
    background-position: -181px -346px;
}

.brand-express {
    background-position: -215px -414px;
}

.express .ttr_carrefour a {
    color: #8aa636;
}

.express .ttr_carrefour .color_soft_light {
    color: #b3d941;
}

/* Drive */
.drive {
    border-left: 4px solid #ed2987;
}

.drive .ttr_carrefour i {
    background-position: -208px -346px;
}

.brand-drive {
    background-position: -245px -414px;
}

.drive .ttr_carrefour a {
    color: #ed2987;
}

.drive .ttr_carrefour .color_soft_light {
    color: #f847a1;
}

.ladMessage{
    
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
}
.success{
    background-color: yellowgreen;
}
.fail{
    background-color: red;
}

.selectDarkStore{
    margin-left: 50px;   
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 10px; 
  height: 10px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin:0px;
  padding-left: 0px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

}
