<!-- ::::::::::::::::::::::::::::::: BESCHERMING VAN DE PRIVACY :::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<section>
    <h1>BESCHERMING VAN DE PRIVACY</h1>
    <p>Carrefour Belgium draagt zorg voor uw privacy en handelt hierbij steeds in overeenstemming met de bepalingen van
        de toepasselijke Belgische en Europese privacywetgeving, waaronder  de Wet van 8 december 1992 tot bescherming
        van de persoonlijke levenssfeer ten opzichte van de verwerking van persoonsgegevens. </p>
    <p>Wij raden u aan om ons privacybeleid goed door te nemen, samen met onze algemene voorwaarden die van toepassing
        zijn op onze verschillende producten en diensten. Dit privacybeleid is van toepassing op al onze klanten, en op
        alle bezoekers van onze websites en gebruikers van onze mobiele applicaties. Het is mogelijk dat voor specifieke
        diensten bijkomende voorwaarden van toepassing zijn.<br>
        <br>
        Door deze website of onze mobiele applicaties te gebruiken, door gebruik te maken van de producten en diensten
        aangeboden door Carrefour en door deel te nemen aan onze acties, gaat u uitdrukkelijk akkoord met de wijze
        waarop Carrefour Belgium persoonsgegevens verzamelt en verwerkt.</p>
    <p><strong>1. De verantwoordelijke voor de verwerking <br>
        <br>
    </strong>De verantwoordelijke voor de verwerking is <strong>Carrefour Belgium NV, Olympiadenlaan 20, 1140
        Evere</strong> met ondernemingsnummer <strong>0448.826.918</strong> (hierna "Carrefour" of "Carrefour Belgium").
    </p>
    <p><strong>2. Veiligheid</strong><br>
        <br>
        Carrefour Belgium verbindt zich ertoe om alle noodzakelijke technische en organisatorische maatregelen te
        treffen om: de verstrekte en verzamelde persoonsgegevens te beschermen tegen vernietiging, verlies, onbedoelde
        wijziging, beschadiging, toevallige of onwettige toegang of enige andere ongeoorloofde verwerking van
        persoonsgegevens.<br>
        Om deze veiligheid te garanderen, gebruikt Carrefour Belgium onder meer encryptie van de communicatie tussen de
        server en uw computer voor bepaalde gegevens.<br>
        Het aantal personeelsleden dat toegang heeft tot uw persoonsgegevens is beperkt en enkel en alleen voor zover
        dit noodzakelijk is voor de uitvoering van hun taken. </p>
    <br clear="all">
    <strong>3. Verzameling van Gegevens</strong><br>
    <br>
    Onder "persoonsgegevens" wordt verstaan alle informatie over een geïdentificeerd of identificeerbaar natuurlijke
    persoon (hierna "Gegevens"). <br>
    Uw Gegevens kunnen op verschillende manieren worden ingezameld, onder andere wanneer:
    <ul>
        <li>u zich registreert en een Carrefour Connect-account aanmaakt,</li>
        <li>u een (online) formulier invult,</li>
        <li>u deelneemt aan een wedstrijd of actie georganiseerd door Carrefour Belgium, al dan niet online</li>
        <li>gebruik maakt van onze  diensten en producten, al dan niet online</li>
        <li>een bestelling wordt gevalideerd en verstuurd,</li>
        <li>u zich abonneert op een nieuwsbrief,</li>
        <li>u een account Drive aanmaakt,</li>
        <li>u vrijwillig uw CV doorstuurt,</li>
        <!--<li><img width="4" height="4" src="../../clip_image002.gif">u uw Carrefour Bonus Card gebruikt; </li>-->
        <li>u gebruik maakt van het My Invoice-programma;</li>
        <li>u deelneemt aan enquêtes</li>
        <li>enzovoort.</li>
    </ul>
    <p>Carrefour kan uw Gegevens rechtsreeks inzamelen, of via derden verkrijgen voorzover u hiertoe uw toestemming
        heeft gegeven.  <br>
        Carrefour Belgium NV, verzamelt  volgende categorieën van Gegevens:<br>
        <br>
        -  administratieve gegevens en contactgegevens: hiermee kunnen wij u identificeren of contact met u opnemen.
        Bijvoorbeeld: naam, adres, telefoonnummer, taalvoorkeur, …. <br>
        -  Gegevens over uw aankoopgedrag en Gegevens aangeleverd door het gebruik van onze producten en diensten.
        Bijvoorbeeld: de aankopen die u heeft gedaan, in welke winkel u uw aankopen het meest verricht, …Wij gebruiken
        deze Gegevens onder meer om u als klant een betere en gepersonaliseerde ervaring te bieden. <br>
        -  Gegevens aangeleverd door derden, zoals bijvoorbeeld uw gezinssamenstelling,;<br>
        -  Bepaalde technische Gegevens: bijvoorbeeld: ip adres, localisatiegegevens…<br>
         <br>
        <strong>4. Verwerking van Gegevens</strong><br>
        <br>
        Carrefour Belgium kan uw Gegevens voor volgende doeleinden verwerken:</p>
    <ul>
        <li>Het aanbieden van producten en diensten en het optimaliseren en verbeteren van de door ons aangeboden
            diensten.
        </li>
    </ul>
    <p>Om die reden kan het zijn dat Carrefour Belgium uw Gegevens verwerkt om zijn aanbod van producten en diensten te
        analyseren, te evalueren en te verbeteren. Dit omvat ondermeer: het vragen van feedback over onze producten en
        diensten, Gegevens die wij bekomen via uw contacten met onze helpdesk en klantendienst,…<br>
        We kunnen uw Gegevens gebruiken om u te informeren over onze nieuwste producten, diensten, speciale
        aanbiedingen, nieuwsbrief of gepersonaliseerde aanbiedingen waarvan wij denken dat u hier in geïnteresseerd zou
        zijn.  Indien u via  elektronische communicatie op de hoogte wenst gehouden te worden van onze aanbiedingen,
        nieuwsbrieven en producten en diensten of indien u gepersonaliseerde aanbiedingen wenst te ontvangen kan u hier
        uw toestemming voor geven. Indien u dergelijke communicaties niet meer wenst te ontvangen kan u eveneens op
        ieder ogenblik uw toestemming intrekken door contact op te nemen met ons. Onze contactgegevens kan u hieronder
        terugvinden.<br>
        Indien Carrefour overgaat tot geautomatiseerde besluitvorming zal u voorafgaandelijk geïnformeerd worden over de
        onderliggende logice en eventuele rechtgevolgen.</p>
    <ul>
        <li>Het opzetten, onderhouden, ondersteunen en beheer van de producten en diensten waarvan u gebruik maakt en
            voor het in orde stellen van de administratie die hieraan verbonden is, zoals het toekennen van bonuspunten
            in het kader van ons getrouwheidsprogramma, het leveren van uw bestelling, …
        </li>
    </ul>
    <ul>
        <li>De creatie en het beheer van uw My Carrefour – account.</li>
    </ul>
    <p>Deze Gegevens zullen tevens gebruikt worden om de navigatie op onze website tussen de verschillende producten,
        diensten, online- acties en onlinewedstrijden te vergemakkelijken door het voorafgaandelijk invullen van uw
        persoonsgegevens (naam, voornaam, mailadres)</p>
    <ul>
        <li>Het realiseren van studies en statistieken</li>
    </ul>
    <p>We kunnen uw Gegevens bovendien anonimiseren en verder gebruiken om statistieken en rapporten te genereren
        aangaande het gebruik van onze diensten, de verkoop van onze producten en het verloop van onze acties en
        wedstrijden. Het is belangrijk voor u om te weten dat we hiervoor werken met geanonimiseerde gegevens die op
        geen enkele wijze terug te brengen zijn naar individuen.</p>
    <ul>
        <li>Het respecteren van onze wettelijke verplichtingen</li>
    </ul>
    <p>In bepaalde gevallen hebben wij de wettelijke verplichting om bepaalde persoonlijke Gegevens over u te bewaren
        en/of mee te delen aan overheidsinstanties en/of gerechtelijke instanties. Denk hier bij bijvoorbeeld aan
        fiscale en boekhoudkundige verplichtingen, of verplichte overdracht van gegevens in het kader van een
        politioneel of gerechtelijk onderzoek.<br>
        In het kader van bovenvermelde verwerkingen kan Carrefour Belgium u contacteren, bijvoorbeeld om u te informeren
        over haar producten en diensten), voor haar facturatie en voor administratieve doeleinden. U kan kiezen op welke
        manier Carrefour contact met u kan opnemen:</p>
    <ul>
        <li>Per mail;</li>
        <li>Per sms;</li>
        <li>Per post;</li>
        <li>Via sociale media.</li>
    </ul>
    <p>Als u niet meer wenst gecontacteerd te worden door Carrefour Belgium voor commerciële of reclamedoeleinden, kunt
        u ons deze beslissing meedelen op het volgende adres:</p>
    <ul>
        <li><strong>Carrefour Belgium: </strong><strong>Olympiadenlaan 20</strong> <strong>1140 Evere</strong></li>
    </ul>
    <ul>
        <li><strong>Klantendienst: </strong><strong>0800 9 10 11</strong></li>
    </ul>
    <ul>
        <li><strong>Klantenformulier: </strong><a href="http://contact.carrefour.eu/nl/form.html"
                                                  target="_blank"><strong>http://contact.carrefour.eu/nl/form.html</strong></a>
        </li>
    </ul>
    <p>Moest u zich reeds hebben laten registeren op de zogeheten "bel – me niet" lijst, dan wordt hier uiteraard
        rekening mee gehouden. </p>
    <p>Carrefour Belgium zal in geen enkel geval de verstrekte en verzamelde persoonsgegevens meedelen  <strong>aan
        derden</strong>,<strong> tenzij:</strong></p>
    <ul>
        <li>u ons daarvoor vooraf uitdrukkelijk de toestemming voor geeft;</li>
        <li>- in de gevallen die de wet bepaalt;</li>
        <li>-indien wij hiertoe verplicht worden in het kader een regelgeving of juridische procedure; of</li>
        <li>Op verzoek van wetgevend of gerechtelijke instanties.</li>
    </ul>
    <p>We wensen hierbij te benadrukken dat bedrijven die behoren tot de groep Carrefour niet beschouwd worden als
        derden, in zoverre zij de Gegevens verwerken in opdracht van Carrefour Belgium. <br>
        Bovendien doet Carrefour Belgium beroep op bepaalde onderaannemers zoals ICT bedrijven voor onderhoud en beheer
        van onze websites, bedrijven die instaan voor aan huis leveringen van de door u bestelde producten,
        studiebureaus, marketing bureaus, … teneinde een deel van onze diensten aan hen uit te besteden. Deze
        onderaannemers worden tevens niet als derden beschouwd. Wij zien er op toe dat deze onderaannemers uw Gegevens
        veilig, respectvol en als een goede huisvader beheren en onder geen enkel beding kenbaar maken aan derden.</p>
    <p><br>
        <strong>5. Uw rechten</strong><br>
        <br>
        1. U heeft  altijd het <strong>recht </strong>om foutieve, onvolledige, ongepaste of verouderde Gegevens<strong>
            te laten verwijderen of recht te zetten</strong>. Teneinde deze rechten uit te oefenen kan u op volgende
        wijze  contact met ons opnemen:<br>
        - via ons klantenformulier  op onze website <a href="http://contact.carrefour.eu/nl/form.html" target="_blank">http://contact.carrefour.eu/nl/form.html</a>;
        <br>
        - per telefoon via <strong>0800/9.10.11</strong> <br>
        - schriftelijk naar volgend postadres: <strong>Carrefour Belgium – Klantendienst – Olympiadenlaan, 20 – 1140
            Brussel</strong>;<br>
        - via uw Account (enkel rechtzetten van uw Gegevens)</p>
    <p>2. U heeft daarenboven steeds <strong>recht op toegang</strong> <strong>tot en inzage in uw</strong> Gegevens. Om
        toegang te verkrijgen tot uw Gegevens dient u een schriftelijke aanvraag te richten aan Carrefour Belgium op
        volgende wijze:<br>
        - per email via de website <a href="http://contact.carrefour.eu/nl/form.html" target="_blank">http://contact.carrefour.eu/nl/form.html</a>;
        <br>
        - schriftelijk naar volgend postadres: <strong>Carrefour Belgium – Klantendienst – Olympiadenlaan, 20 – 1140
            Brussel;</strong><br>
        - via uw Account.<br>
        <br>
        3. U heeft als klant het <strong>recht om u te verzetten tegen de verwerking</strong> van uw Gegevens of om uw
        eerder gegeven toestemming voor een welbepaalde verwerking van Gegevens in te trekken.  U kan hiervoor
        schriftelijk contact opnemen met ons:<br>
        - per email via de website <a href="http://contact.carrefour.eu/nl/form.html" target="_blank">http://contact.carrefour.eu/nl/form.html</a>;
        <br>
        - schriftelijk naar volgend postadres: Carrefour Belgium – Klantendienst – Olympiadenlaan, 20 – 1140
        Brussel.<br>
        <br>
        Bij de uitoefening van dit recht verzoeken wij u om duidelijk aan te geven tegen welke verwerking(en) u zich
        verzet of welke toestemming u wenst in te trekken. <br>
        We wensen u er wel op te wijzen dat het verzet tegen bepaalde verwerkingen of het intrekken van uw toestemming
        voor bepaalde verwerkingen van uw Gegevens tot gevolg kan hebben dat u niet langer gebruik kan maken van
        bepaalde diensten of producten door ons aangeboden. <br>
        <br>
        4<strong>. Indien u uw rechten wenst uit te oefenen, vragen wij u om ons een bewijs van uw identiteit te
            verschaffen dit teneinde elke ongeoorloofde bekendmaking of verwerking van uw Gegevens te voorkomen.  Wij
            vragen u dan ook bij voorkeur om een kopie van de voorzijde van uw identiteitskaart toe te voegen aan uw
            aanvraag. Deze kopie zal enkel en alleen door ons gebruikt worden om de door u gevraagde rechten uit te
            voeren. </strong><br>
        <br>
        5.Voor uw volledigheid stellen wij u eveneens op de hoogte van uw <strong>recht om een klacht</strong> neer te
        leggen bij de privacycommissie (commission@privacycommission.be) indien Carrefour Belgium niet reageert op
        aanvraag tot toegang tot uw Gegevens, uw aanvraag weigert of indien ons antwoord niet voldoet aan uw
        verwachtingen. Dit recht heeft u eveneens indien u van oordeel bent dat de door Carrefour Belgium uitgeoefende
        verwerking ongeoorloofd zou zijn.</p>
    <p><strong>6. Cookies en andere technologiën</strong><br>
        <br>
        U kunt onze website bezoeken of gebruik maken van onze mobiele applicaties zonder uw persoonlijke Gegevens mee
        te delen. Het gebruik van de verschillende producten en diensten aangeboden op onze website of mobiele
        applicaties zijn echter voorbehouden aan personen met een Carrefour Connect-account.  <br>
        Op onze website worden "cookies" gebruikt, kleine deeltjes informatie die door de browser op uw computer worden
        opgeslagen en laten ons toe om bepaalde inlichtingen over de gebruikers van onze website te registreren (vb
        taalkeuze, duur van uw bezoek op de pagina, …)<br>
        De cookies worden op deze website gebruikt om u een betere service te kunnen aanbieden door ons uw taalkeuze mee
        te delen en om u bij een volgend bezoek aan de website te kunnen identificeren. Ze helpen om de website beter af
        te stemmen op uw wensen, voorkeuren en gebruiksgemak. Cookies kunnen ook gebruikt worden om de inhoud of
        publiciteit van een website persoonlijker te maken. De cookies zelf kunnen geen informatie verzamelen welke op
        uw computer of in uw bestanden is opgeslagen.</p>
    <p><strong>Welke soorten cookies gebruiken we?</strong></p>
    <p>Op onze website wordt gebruikt van volgende soorten cookies:</p>
    <ul type="disc">
        <ul type="circle">
            <li>Onmisbare cookies: zijn nodig om gebruik te maken van de website en zorgen voor een veilige
                identiteitscontrole. Bijvoorbeeld: navigatie op de website, inhoud van winkelkarretje, toegang tot
                persoonlijke Gegevens...
            </li>
            <li>Functionele cookies: maken het functioneren van de website makkelijker en zorgen voor een
                gepersonaliseerde surfervaring Deze cookies moeten het mogelijk maken om gegevens te bewaren die uw
                ervaring op de site verbeteren. Bijvoorbeeld: taalkeuze, presentatievoorkeuren, overzicht geven van uw
                vorige aankopen, de door u ingevoerde zoekopdracht …
            </li>
            <li>Performante cookies: verzamelen gegevens van bezoekers om de website te verbeteren. Bijvoorbeeld:
                bezoekers tellen, populaire webpagina"s oplijsten, het clickgedrag (vb hoelang uw bezoek aan de website
                duurt, welke pagina"s u heeft bezocht en wanneer, …)...
            </li>
            <li>Advertentiecookies: passen de advertenties aan op basis van uw surfgedrag, uw demografische en uw
                gebruikersgegevens. Zo kunnen we onze advertenties efficiënter maken en beter afstemmen op uw
                interesses.
            </li>
            <li>Cookies voor website analyse: zijn voor statische doeleinden teneinde de website aan te passen aan de
                wensen en interesse van bezoekers en stellen ons in staat   na te gaan hoe vaak onze website wordt
                bezocht, welke pagina"s problemen opleveren, …In dit kader maken wij gebruik van Google Analytics, Adobe
                Analytics, een website analyse service die wordt aangeboden door Google Inc. en Adobe. De door de cookie
                gegenereerde informatie  over uw gebruik wordt overgebracht naar Google en Adobe en worden door hen
                opgeslagen op hun servers, al dan niet in de Verenigde Staten, in het kader van analyses over het
                gebruik van de website.  Deze cookie slaat onder andere volgende informatie op :  welke pagina"s er
                bezocht worden, hoe lang zij op de website blijven, hoe zij daar kwamen en wat zij aanklikken en in
                sommige gevallen uw IP adres.
            </li>
            <li>Sommige cookies kunnen door derde partijen worden geïnstalleerd, zoals onder andere Facebook, Twitter en
                Pinterest onder hun eigen verantwoordelijkheid. In dit geval raden wij u aan om de privacy policies van
                deze derde partijen goed door te nemen.
            </li>
        </ul>
    </ul>


    <p><!--<img width="6" height="8" src="../../clip_image004.gif">--><strong>Beheer van cookies<br>
    </strong>Indien u dit verkiest, kunt u onze cookies afwijzen bij je eerste bezoek of ze weigeren via je
        browserinstellingen. Ga naar "tools", "internet options", "general", "browsing history", "delete", "delete
        cookies". De al geïnstalleerde cookies op uw computer of mobiel apparaat kunt u verwijderen via uwe
        configuratiescherm. Ga naar "internetoptions", "general", "browsing history", "delete", "delete cookies".</p>
    <p>Opgelet, het uitschakelen van cookies kan tot gevolg hebben dat onze website niet meer naar behoren
        functioneert.  </p>
    <p><strong>Applicaties</strong><br>
        De mobiele applicaties van Carrefour Belgium bewaren informatie in verband met uw registratie en uw sessie. Deze
        informatie wordt gecodeerd en lokaal opgeslagen op het toestel waarop u de applicatie heeft geïnstalleerd. Deze
        techniek is vergelijkbaar met cookies, maar specifiek per toestel. Deze databestanden blijven bewaard voor
        zolang de app op uw toestel is geïnstalleerd. Om de databestanden te verwijderen kunt u de app verwijderen.</p>
    <p><strong>Beacons</strong><br>
        Tijdens uw bezoek aan onze winkels kan Carrefour Belgium gegevens over u capteren: deze omvatten onder meer het
        uur van uw bezoek, de duurtijd van uw bezoek, uw positie en afgelegd traject in de winkel. Beacons kunnen helpen
        aan een verbeterde persoonlijke ervaring in de winkels …<br>
        <!--<img width="25" height="39" src="../../clip_image007.gif">&nbsp;</p>-->
        <br clear="ALL">
        <br>
        <strong>7. Logbestanden</strong><br>
        <br>
        Naast de bovenvermelde gegevens registreert Carrefour Belgium tevens gegevens wanneer u de website bezoekt onder
        de vorm van logbestanden dewelke de activiteit van de websites registreert  (bv: uw IP-adres en de datum en het
        uur waarop u elke pagina hebt bezocht).<br>
        Deze informatie wordt enkel verzameld voor statistische doeleinden en om de website te kunnen blijven
        verbeteren. <br>
        <br>
        <strong>8. Bewaartermijn</strong><br>
        <br>
        Carrefour Belgium bewaart uw Gegevens enkel zolang wij u er effectief mee van dienst kunnen zijn conform dit
        privacybeleid. In dit kader gebeurt er een jaarlijkse evaluatie door Carrefour Belgium NV. Uiteraard heeft u
        steeds het recht zich te beroepen op uw rechten zoals hierboven uitgelegd.
    <p><strong>9. Risico"s verbonden aan gebruik internet en online applicaties</strong><br>
        <br>
        Het gebruik van onze websites, mobiele applicaties en online diensten en producten impliceert  de kennis en
        aanvaarding van de eigenschappen en beperkingen van het internet, meer bepaald wat betreft de technische
        prestaties, responstijd om informatie te raadplegen, op te vragen of te versturen, de risico"s van een
        onderbreking, en meer in het algemeen, de risico"s die inherent zijn aan alle verbindingen en overdrachten op
        het internet, het gebrek aan bescherming van bepaalde gegevens tegen eventueel misbruik en de risico"s van
        mogelijke virussen die op het netwerk circuleren. </p>

    <p><strong>10. Wijzigingen</strong><br>
        <br>
        Carrefour Belgium behoudt zich het recht voor de verklaring "Bescherming van het privéleven" te wijzigen. Deze
        verklaring werd voor het laatst gewijzigd en herzien op 01.04.2017. </p>
    <p>BedrijfsGegevens en firmanaam Verantwoordelijke Verwerker<br>
        <br>
        <strong>Firmanaam:</strong> Carrefour Belgium NV<br>
        <br>
        <strong>Centrale en maatschappelijke zetel:</strong><br>
        Carrefour Belgium<br>
        Olympiadenlaan 20<br>
        1140 Evere<br>
        R.P.R. Brussel -- btw BE 0448.826.918<br>
        <br>
        <strong>Website:</strong><a href="https://www.carrefour.eu/nl"
                                    target="_blank">https://www.carrefour.eu/nl</a><br>
        <br>
        <strong>Contact:</strong> <strong>0800 9 10 11</strong></p>


</section>


<!-- ::::::::::::::::::::::::::::::: Algemene voorwaarden Carrefour Bonus Card :::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<section>
    <h1>ALGEMENE VOORWAARDEN CARREFOUR BONUS CARD</h1>

    <p><strong>1. Definities</strong></p>

    <p><strong>Carrefour Belgium: </strong>de onderneming<strong> </strong>beschreven in artikel 2.1 van deze algemene
        voorwaarden.</p>
    <p><strong>Carrefour Bonus Card</strong> deelnemingskaart waardoor een Kaarthouder kan geïdentificeerd worden en die
        de deelneming aan het Carrefour Bonus Card-Programma mogelijk maakt.</p>
    <p><strong>Gezin</strong>: groep van personen die samen sparen voor privé-doeleinden</p>
    <p><strong>Hoofdkaarthouder:</strong> De persoon die de Carrefour Bonus Card initieel heeft aangevraagd en het
        beslissingsrecht heeft om Kaarthouder(s) toe te voegen aan of te schrappen van zijn Rekening. </p>
    <p><strong>Kaarthouder</strong> : fysieke persoon die minimum de leeftijd van 18 jaar bereikt heeft, in België
        verblijvend of vertegenwoordiger van een Onderneming gevestigd in België, die toetreedt tot het Carrefour Bonus
        Card-Programma en titularis of, indien er meerdere Kaarthouders zijn, co-titularis is van een Rekening.</p>
    <p><strong>Mijn Account</strong>: Portaal die de gebruikers van Carrefour Connect toelaat te genieten van een
        persoonlijke pagina met verschillende functies verbonden aan de verschillende deelnemende sites, deelnemende
        Carrefour Connect kanalen en online diensten.</p>
    <p><strong>My invoice: </strong>dienst van Carrefour Belgium om facturen op te vragen voor je aankopen</p>
    <p><strong>Rekening</strong>:  Een Carrefour Bonus Card-rekening waarmee de verschillende Carrefour Bonus Cards van
        de Kaarthouder(s) van eenzelfde Gezin  (hierna "Particulier Rekening")  of Onderneming  (hierna "Professionele
        Rekening") verbonden zijn, en waarop de Carrefour Bonus Card-punten worden verzameld.</p>
    <p><strong>Onderneming:</strong> Elke organisatie die in hoofd of in bijkomende orde een winstgevende activiteit
        voert, beschikt over een exploitatiezetel in België en in het bezit is van aan Belgisch BTW-nummer en/of
        ondernemingsnummer. Hieronder eveneens begrepen alle natuurlijke personen die een vrij beroep uitoefenen. </p>

    <p><strong>Partnerbedrijven</strong> : bedrijven die contractueel met Carrefour Belgium verbonden zijn en
        samenwerken in het kader van het Programma.</p>
    <p><strong>Programma</strong> : Het Carrefour Bonus Card loyaltyprogramma.</p>


    <p><strong>2. Inleiding</strong></p>
    <p>2.1 Het Programma wordt geëxploiteerd in België door Carrefour Belgium NV, Olympiadenlaan 20 te 1140 Brussel,
         ingeschreven in de Kruispuntbank Ondernemingen onder het nummer <strong>0448.826.918</strong> en met BTW nummer
        [BE 448.826.918]. (hierna <strong>Carrefour Belgium</strong>). <br>
        Carrefour Bonus Card is een gedeponeerd merk en een origineel programma, waarvan Carrefour Belgium houder is van
        de rechten in de Benelux.</p>
    <p>2.2 Het Programma laat aan de Kaarthouders toe om voordelen te bekomen op basis van de tegenwaarde van de
        Carrefour Bonus Card-punten verzameld bij de deelnemende verkoopspunten van Carrefour Belgium en de
        Partnerbedrijven.</p>
    <p>2.3 De Kaarthouders kunnen eveneens, op vertoon van hun Carrefour Bonus Card, verschillende voordelen bekomen
        zoals prijsverminderingen bij Partnerbedrijven.*</p>
    <p>2.4 De inschrijving door de Kaarthouders in het Programma houdt de aanvaarding van onderhavige voorwaarden
        in.</p>

    <p><strong>3. Voorwaarden voor toetreding tot het Programma</strong></p>


    <p>3.1 Om te kunnen toetreden tot het Programma dient men zich online in te schrijven op <a
            href="https:// carrefour.eu" target="_blank">https:// carrefour.eu</a>, via het papieren formulier in de
        winkel, via het callcenter Carrefour <strong>08009.10.11.</strong>, via de Carrefour app en via de bornes
        aanwezig in onze winkels. Bij gebreke waarvan, Carrefour zich het recht voorbehoud uw aanvraag tot toetreding
        tot het Programma niet te behandelen. De Carrefour Bonus Card zal door de Kaarthouder kunnen gebruikt worden
        vanaf de ontvangst ervan en de Rekening zal geactiveerd worden zodra de noodzakelijke gegevens met betrekking
        tot de Kaarthouder(s) en/of de Onderneming verwerkt zijn in het Programma. Carrefour Belgium behoudt zich het
        recht voor de Rekening te sluiten en de aanvraag tot toetreding niet verder te behandelen indien zij zes (6)
        maanden na het eerste gebruik van de Carrefour Bonus Card nog steeds niet over alle nodige gegevens beschikt. De
        Carrefour Bonus Card-punten verworven tot aan het ogenblik van de sluiting van de Rekening, zullen vervolgens
        geannuleerd worden.</p>
    <p>3.2 Er wordt één Rekening geopend voor de Hoofdkaarthouder of de mede-Kaarthouders die deel uitmaken van
        hetzelfde Gezin  of vertegenwoordiging van een Onderneming (maximum 9 personen of vertegenwoordigers).  Op deze
        Rekening worden de Carrefour Bonus Card-punten verzameld. Een Hoofdkaarthouder kan zowel een Particuliere
        Rekening  als een Professionele Rekening openen, doch kan deze twee Rekeningen niet samenvoegen. Elke
        Kaarthouder is gerechtigd om alleen alle rechten verbonden aan de Rekening uit te oefenen, met uitzondering van
        de rechten exclusief toegewezen aan de Hoofdkaarthouder zoals het afsluiten van de Rekening, de samenvoeging
        ervan met een andere Rekening  ( Particuliere Rekeningen kunnen enkel samengevoegd worden met een Particuliere
        Rekening en Professionele Rekeningen kunnen enkel samengevoegd worden met een Professionele Rekening op
        voorwaarde dat zij het zelfde btw nummer of ondernemingsnummer hebben) of de splitsing van de Rekening. In deze
        gevallen is de schriftelijke <br>
        goedkeuring van elke Hoofdkaarthouder verbonden aan een Rekening vereist.</p>

    <ol>
        <ol>
            <li>Elke Rekening die reeds werd geopend binnen het kader van het Programma zal beschouwd worden als een
                Particuliere Rekening. Een klant kan een Professionele Rekening aanmaken op voorwaarde dat hij zich op
                hetzelfde ogenblik registreert op My Invoice als Onderneming en hij hierbij eveneens zijn Carrefour
                Bonus Card- nummer en facturatie-gegevens opgeeft. Elk gebruik van de Carrefour Bonus Card gekoppeld aan
                een Professionele Rekening zal een factuur genereren overeenkomstig de voorwaarden van My Invoice. Uw
                Carrefour Bonus Card gekoppeld aan een Professionele rekening kan pas gebruikt worden zodra uw
                registratie op My Invoice voltooid is.
            </li>
        </ol>
    </ol>
    <p>3.4 Elke Kaarthouder is verplicht elke wijziging van zijn persoonlijke gegevens en/of de gegevens van de
        Onderneming schriftelijk mede te delen aan Carrefour Belgium. Carrefour Belgium zal op geen enkele wijze
        aansprakelijk gesteld kunnen worden voor eventuele schade te wijten aan een gebrek aan mededeling van deze
        nieuwe gegevens. <br>
        De gegevenswijzigingen worden verwerkt binnen de maand volgend op uw aanvraag.</p>

    <p><strong>4. Kenmerken van de Carrefour Bonus Card</strong></p>

    <p>4.1 De Carrefour Bonus Card is strikt persoonlijk en onoverdraagbaar.<br>
        4.2 De Carrefour Bonus Card is bestemd om de toekenning van Carrefour Bonus Card-punten elektronisch te
        registreren. Deze Carrefour Bonus Card-punten worden op de Rekening bijgeschreven en geven, op basis van
        tegenwaarde ervan, recht op voordelen. De voordelen bekomen in het kader van het gebruik van de Particuliere
        Rekening kunnen niet gebruikt worden voor professionele doeleinden en vice versa.</p>
    <p>4.3De Carrefour Bonus Card laat de Kaarthouder toe de selfscan te gebruiken in de deelnemende verkooppunten van
        Carrefour Belgium en de Partnerbedrijven.</p>
    <p>4.4 In geen enkel geval zal de Carrefour Bonus Card gebruikt kunnen worden als kredietkaart of als garantie
        kunnen dienen.</p>
    <p>4.5 De Carrefour Bonus Card wordt aanvaard in de deelnemende verkoopspunten van Carrefour Belgium en van de
        Partnerbedrijven.<br>
        Carrefour Belgium en de Partnerbedrijven behouden zich het recht voor om de toekenning van Carrefour Bonus
        Card-punten niet te cumuleren met sommige andere promotionele acties.</p>
    <p>4.6 De Carrefour Bonus Card blijft eigendom van Carrefour Belgium en elk verlies, diefstal, verduistering of
        andere vorm van frauduleus gebruik dient aan Carrefour Belgium te worden medegedeeld door de Kaarthouder. Bij
        gebrek hieraan, zal (zullen) de Kaarthouder(s) instaan voor alle eventuele gevolgen van het niet-meedelen.</p>
    <p>4.7 In geval van problemen bij het gebruik van de Carrefour Bonus Card kan de Kaarthouder dit telefonisch melden
        aan het Carrefour callcenter die vervolgens de nodige inspanningen zal leveren om de problemen zo snel mogelijk
        te verhelpen, zonder dat Carrefour Belgium gehouden kan zijn om tot een bepaalde oplossing te komen. </p>

    <p><strong>5. Voorwaarden en modaliteiten voor het verzamelen van Carrefour Bonus Card-punten</strong></p>
    <p>5.1 De Kaarthouder verzamelt Carrefour Bonus Card-punten op de Rekening waaraan zijn Carrefour Bonus Card is
        verbonden in overeenstemming met de voorwaarden bepaald door Carrefour Belgium en de Partnerbedrijven.</p>
    <p>5.2 De toekenning van Carrefour Bonus Card-punten gebeurt in functie van de aankopen van de Kaarthouder, aankopen
        in eigen naam en voor eigen rekening, of dienstverleningen ten voordele van de Kaarthouder, en conform het
        rooster van toekenning van Carrefour Bonus Card-punten dat van toepassing is bij het betrokken bedrijf.
        Carrefour Belgium en de Partnerbedrijven behouden zich het recht voor om op elk ogenblik het rooster van
        toekenning van Carrefour Bonus Card-punten te wijzigen, in overeenstemming met de wettelijke bepalingen ter
        zake.</p>
    <p>5.3 Carrefour Belgium en de Partnerbedrijven kunnen tevens extra Carrefour Bonus Card-punten aanbieden onder de
        vorm van promoties. Deze extra Carrefour Bonus Card-punten hebben dezelfde geldelijke tegenwaarde als Carrefour
        Bonus Card-punten.</p>
    <p>5.4 Het rooster van toekenning van Carrefour Bonus Card-punten wordt aan de consument medegedeeld via de
        aankondigingen in de deelnemende verkooppunten en via de Carrefour Bonus Card internetsite.</p>
    <p>5.5 Teneinde de voorziene Carrefour Bonus Card-punten te bekomen dient de Carrefour Bonus Card, in het
        voorliggende geval, aan de kassa te worden aangeboden alvorens afsluiting van de rekening van de verrichte
        aankopen.<br>
        5.6 Carrefour Belgium en de Partnerbedrijven behouden zich het recht voor om bij teruggave van goederen de
        Carrefour Bonus Card-punten af te houden die initieel bij de aankoop werden toegekend.</p>
    <p>5.7 Carrefour Belgium behoudt zich het recht voor om elke Rekening die inactief is gedurende meer dan 36 maanden
        te sluiten. Voorafgaandelijk zal hiervan de Kaarthouder die op het inschrijvingsformulier als Hoofd-kaarthouder
        werd aangegeven of die de Carrefour Bonus Card als Hoofd-kaarthouder online geregistreerd heeft, en bij
        onmogelijkheid de Kaarthouder van de volgende kaart,  worden ingelicht via papieren of elektronische post,  en
        dit één maand vóór de sluiting van de Rekening.  Het gebruik van de Carrefour Bonus Card gedurende deze maand
        heractiveert de Rekening en verhindert aldus de afsluiting ervan. De Carrefour Bonus Card-punten die geldig
        werden bekomen, blijven geldig tot één maand na de sluiting van de Rekening.</p>


    <p><strong>6. Boekhoudkundige verwerking van de toegekende Carrefour Bonus Card-punten en consultatie van het
        puntensaldo</strong></p>
    <p>6.1 De toegekende en verwerkte Carrefour Bonus Card-punten worden minstens één maal per maand bijgeschreven op de
        Rekening waaraan de Kaart verbonden is.</p>
    <p>6.2 Het saldo van de verzamelde Carrefour Bonus Card-punten kan geconsulteerd worden (i) op het kasticket bij een<br>
        aankoop in één van de verkooppunten van Carrefour Belgium,(ii)  via het Carrefour-callcenter en (iii) via Mijn
        Account binnen het Carrefour-Connect  programma indien u uw gegevens van uw Carrefour Bonus Card heeft
        geregistreerd binnen dit Programma. </p>
    <p><strong>7. Geldigheidsduur en verdeling van Carrefour Bonus Card-punten</strong></p>
    <p>7.1 Elk Carrefour Bonus Card-punt dat geldig toegekend en gespaard werd, zal gedurende drie jaar geldig zijn, te
        rekenen vanaf de datum van toekenning en voorzover de Rekening niet inactief is in overeenstemming met de 
        bepalingen van artikel 5.7. In geval van sluiting van de Rekening zal de geldigheid van de Carrefour Bonus
        Cardpunten beperkt worden tot één maand na de sluiting van de Rekening. Carrefour Belgium behoudt zich het recht
        voor de geldigheidsduur van de Carrefour Bonus Card-punten te wijzigen, na de Kaarthouders hiervan
        voorafgaandelijk te hebben op de hoogte gebracht in overeenstemming met de wettelijke bepalingen ter zake.</p>
    <p>7.2 Elk Carrefour Bonus Card-punt vertegenwoordigt een nominale waarde van €0,01.</p>
    <p>7.3 De Kaarthouder kan enkel voordeel halen uit zijn Carrefour Bonuspunten na activering van zijn  Rekening. Die
        activering vindt plaats zodra Carrefour belgium het inschrijvingsformulier volledig ingevuld en ondertekend
        heeft ontvangen of indien de Kaarthouder zich  online op carrefour.eu heeft geregistreerd en zodra Carrefour
        Belgium alle noodzakelijke gegevens met betrekking tot de Kaarthouder verwerkt heeft.</p>
    <p>7.4 De Carrefour Bonus Card- punten kunnen, op vertoon van je Carrefour Bonus Card,  ingeruild worden in
        Bonuscheques met een minimumwaarde van €5 bij de deelnemende Carrefour winkels of via Mijn Account. Het is
        mogelijk om een maximum van 25.000 Bonus Punten (ofwel €250 in Bonuscheques) om te wisselen per dag. <br>
        Deze aankoopbonnen kunnen zonder aankoopverplichting, op vertoon van je Carrefour Bonus Card gekoppeld aan de
        Rekening waarop de Carrefour Bonus-punten werden verzameld en die werden omgewisseld in de desbetreffende
        Bonuscheque, gebruikt worden in de deelnemende verkooppunten van Carrefour Belgium. Dientengevolge kan je je
        Bonuscheque, afkomstig van Carrefour Bonus Card-punten verzameld via je Professionele Rekening, niet gebruiken
        voor aankopen gerealiseerd via je Particuliere Rekening en vice versa. <br>
         Alle Bonuscheques die na 01/02/2013 uitgereikt worden, kunnen bij verlies geannuleerd of opnieuw afgedrukt
        worden binnen hun geldigheidsperiode. Zodra de geldigheidsdatum verstreken is, worden de Bonuscheques niet
        terugbetaald en kunnen ze niet opnieuw worden afgedrukt.</p>

    <p><strong>8. Bescherming van de private levenssfeer</strong></p>
    <p>Carrefour Belgium verwerkt uw gegevens, als verantwoordelijke voor de verwerking, in het kader van het beheer van
        het Programma (administratie, toekenning punten, registratie punten, …) in overeenstemming met deze voorwaarden
        en in overeenstemming met de privacyverklaring van Carrefour Belgium NV die u kan terugvinden op <a
                href="http://contact.carrefour.eu/nl/form.html/" target="_blank">http://contact.carrefour.eu/nl/form.html/</a>
          <br><br>
        Uw persoonsgegevens worden bewaard voor de duur van uw deelname aan het Programma. Na beëindiging van uw
        deelname aan het Programma worden uw persoonsgegevens nog maximaal  12 maanden bewaard, alvorens zij definitief
        worden verwijderd behoudens in geval van wettelijke verplichting in hoofde van Carrefour Belgium zoals bepaald
        in onze privacyverklaring. Indien een Kaarthouder de schrapping verzoekt van het geheel van zijn
        persoonsgegevens die weerhouden zijn in het kader van het Carrefour Bonus Card-programma van Carrefour Belgium,
        zal zijn deelneming aan het Programma beëindigd worden. In het geval dit de enige Kaarthouder is die verbonden
        is aan de Rekening, zal deze kaart gedeactiveerd worden en de Rekening gesloten. De Carrefour Bonus Card-punten
        die geldig werden bekomen, blijven geldig tot één (1) maand na de sluiting van de Rekening. In het geval er
        echter nog één of meerdere andere Carrefour Bonus Cards aan de Rekening verbonden zijn, zal de Rekening open
        blijven en werkzaam op naam van de andere Kaarthouder(s).</p>
    <p><strong>9. Verlies, diefstal, defect, frauduleus gebruik of annulatie van een Carrefour Bonus Card</strong></p>
    <p>9.1 Het verlies of de diefstal van de Carrefour Bonus Card dient door de Kaarthouder onmiddellijk telefonisch te
        worden meegedeeld via het Carrefour-callcenter, dat vervolgens zo snel mogelijk de Carrefour Bonus Card zal
        deactiveren. De Kaarthouder zal in dit geval de geldig verworven en gespaarde Carrefour Bonus Card-punten kunnen
        behouden op voorwaarde dat hij een nieuwe Carrefour Bonus Card aanvraagt. Carrefour Belgium kan niet
        aansprakelijk worden gesteld voor de vertraging of de schade te wijten aan de vervanging van de Carrefour Bonus
        Card, behalve in geval van bedrog of zware fout in hoofde van Carrefour Belgium.</p>
    <p>9.2 In geval van niet-mededeling van verlies of diefstal van de Carrefour Bonus Card wordt Carrefour Belgium
        ontslagen van alle verantwoordelijkheid.</p>
    <p>9.3 Een defecte Carrefour Bonus Card of beschadigde Carrefour Bonus Card kan gratis worden vervangen op
        voorwaarde dat de Kaarthouder een nieuwe Carrefour Bonus Card aanvraagt. De gespaarde Carrefour Bonus
        Card-punten kunnen worden overgezet naar deze nieuwe Carrefour Bonus Card via het Carrefour-callcenter.</p>
    <p>9.4 In geval van frauduleus gebruik van de Carrefour Bonus Card, of ernstig vermoeden van frauduleus gebruik van
        de Carrefour Bonus Card, behoudt Carrefour Belgium zich het recht voor om de Carrefour Bonus Card te deactiveren
        met verlies van alle voor die Rekening gespaarde Carrefour Bonus Card-punten, evenals om alle nodige maatregelen
        te nemen ten opzichte van de Kaarthouder die zij noodzakelijk acht om de fraude te beëindigen, onverminderd de
        mogelijkheid voor Carrefour Belgium om vervolging in te stellen.</p>
    <p>9.5 Elke gedeactiveerde Carrefour Bonus Card dient door de Kaarthouder aan Carrefour Belgium te worden
        teruggegeven of vernietigd te worden.</p>
    <p><strong>10. Opzegging en wijziging</strong></p>
    <p>10.1 De Carrefour Bonus Card heeft een onbeperkte geldigheidsduur, voorzover het Programma operationeel is.
        Carrefour Belgium behoudt zich het recht voor om de voorwaarden van uitgifte van Carrefour Bonus Cardpunten of
        van het gebruik van de Carrefour Bonus Card te wijzigingen of zelfs om het Programma te beëindigen, mits het
        respecteren van de wettelijke bepalingen ter zake.</p>
    <p>10.2 De Kaarthouder kan op elk ogenblik zijn deelname aan het Programma beëindigen door middel van een schrijven
        naar volgend postadres: <strong>Carrefour Belgium - Carrefour Bonus Card loyalty programma - Postbus 500 – 1070
            Brussel</strong>.</p>
    <p>In het geval deze Kaarthouder de enige Kaarthouder is die verbonden is aan de Rekening, zal deze Carrefour Bonus
        Card gedeactiveerd worden en de Rekening gesloten. De Carrefour Bonus Card-punten die geldig werden bekomen,
        blijven geldig tot één (1) maand na de sluiting van de Rekening. In het geval er echter nog één of meerdere
        andere Kaarthouder(s) aan de Rekening verbonden zijn, zal de Rekening open en operationeel blijven op naam van
        de andere Kaarthouder(s).<br>
        10.3 Ingeval een Partnerbedrijf zijn deelname aan het Programma beëindigt, blijven de Carrefour Bonus
        Card-punten die door de Kaarthouder bij het betrokken bedrijf verzameld werden, geldig.</p>
    <p><strong>11. Toepasselijk recht en bevoegde rechtbanken</strong></p>
    <p>Het Belgische recht is van toepassing op het Programma, evenals op deze Algemene Voorwaarden. In geval van
        betwisting zullen enkel de rechtbanken van Brussel bevoegd zijn.</p>
    <p><strong>12. Algemene bepalingen</strong></p>
    <p>12.1 Deze Algemene Voorwaarden in hun meest recente versie maar ook alle informatie met betrekking tot de
        toepasselijke applicaties kunnen op elk moment geraadpleegd worden op carrefour.eu Ze kunnen op elk ogenblik
        gewijzigd worden door Carrefour Belgium, in overeenstemming met de wettelijke bepalingen ter zake.  </p>
    <p>12.2 Carrefour Belgium stelt alles in het werk om de Kaarthouder de meest complete en correct mogelijke
        informatie te verschaffen, met name met betrekking tot het Bonuspuntensaldo, de lijst van
        Bonuspuntentransacties, de lijst van bruikbare Bonuscheques.</p>
    <p>12.3 Carrefour Belgium is enkel gebonden aan een middelenverplichting. Carrefour Belgium is bovendien  niet
        aansprakelijk voor enige schade die in het kader van dit Programma zou kunnen ontstaan, tenzij deze schade het
        gevolg is van een zware of opzettelijke fout vanwege Carrefour Belgium .<br>
         <br>
        12.4 Elke briefwisseling met betrekking tot het Programma dient aan Carrefour Belgium te worden geadresseerd op
        het onderstaande adres: <strong>Carrefour Belgium - Carrefour Bonus Card loyalty programma - Postbus 500 – 1070
            Brussel</strong>.</p>
    <p>12.6 Het Carrefour-callcenter is bereikbaar op onderstaand telefoonnummer: <strong>0800/9.10.11</strong></p>

</section>


<!-- ::::::::::::::::::::::::::::::: Algemene gebruiksvoorwaarden My Invoice :::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<section>
    <h1>ALGEMENE GEBRUIKSVOORWAARDEN MY INVOICE </h1>
    <ol>
        <li>Deze voorwaarden zijn van toepassing op de relaties tussen de klant en de facturatie-dienst van Carrefour
            Belgium voor alle aankopen bij Carrefour Belgium, Olympiadenlaan 20, 1140 Evere en met ondernemingsnummer
            0448.826.918. Door u in te schrijven in het My Invoice programma, een My Invoice Card aan te vragen en/of
            facturen aan te vragen, verklaart u zich formeel akkoord met de volgende voorwaarden. Niettegenstaande
            voorgaande zal, vooraleer u uw registratie bevestigt, u worden gevraagd om de algemene voorwaarden van de
            facturatie-website van Carrefour Belgium te aanvaarden door het vakje onderaan het registratieformulier aan
            te vinken. Indien u een My Invoice Card aanvraagt of ontvangt in de winkel, zal deze enkel en alleen
            gebruikt kunnen worden na inschrijving op My Invoice  en na aanvaarding van de algemene voorwaarden.
            Carrefour behoudt zich het recht voor deze voorwaarden te allen tijde te wijzigen. De meest recente versie
            van de algemene voorwaarden is consulteerbaar op de Website. Het is aan de klant de algemene voorwaarden
            regelmatig te consulteren. Wanneer een klant een factuur aanvraagt, verklaart hij zich automatisch akkoord
            met de gewijzigde algemene voorwaarden.
        </li>
        <li>Het doel van My Invoice is de klant in staat te stellen om elektronische facturen aan te vragen voor zijn
            aankopen bij Carrefour Belgium en dit op basis van het kassaticket, door middel van afgifte van zijn My
            Invoice Card of zijn Professionele Carrefour Bonuscard op het ogenblik van betaling. My Invoice laat toe de
            reeds eerder uitgegeven facturen of creditnota"s te raadplegen.  Opgelet, creditnota"s kunnen niet online
            worden aangevraagd maar enkel aangevraagd worden in de desbetreffende winkel.
        </li>
        <li>Na de inschrijving van de klant tot My Invoice en na aanvaarding van de algemene voorwaarden, krijgt de
            klant van Carrefour Belgium een mail ter bevestiging van zijn inschrijving en zijn keuze om facturen op zijn
            aanvraag elektronisch te ontvangen. Zodra de klant zichzelf wenst uit te schrijven, kan hij hiervoor contact
            opnemen met de Helpdesk op het nummer <strong>0800/9.10.11</strong>.
        </li>
        <li>De klant registreert zich eenmalig op My Invoice, en vult zijn profiel in (en/of wijzigt indien
            noodzakelijk). Deze registratie is eveneens vereist indien de Klant gebruik maakt van zijn My Invoice Card.
            U kan zich als klant inschrijven voor professionele doeleinden (met ondernemingsnummer en/of btwnummer) of
            voor particuliere doeleinden (zonder ondernemingsnummer en zonder btw nummer). Indien u bent ingeschreven
            voor professionele doeleinden kan u via dezelfde account geen facturen opvragen voor particuliere doeleinden
            en vice versa. U kan zich echter wel een tweede maal inschrijven. Dit vereist een ander e-mail adres.
             Gelieve te noteren dat reeds opgestelde facturen en credit nota"s niet gewijzigd kunnen worden.
        </li>
        <li>De klant kan, na inschrijving op My Invoice en na aanvaarding van de algemene voorwaarden, een factuur
            aanvragen door ingave van zijn kassaticketnummer op de My Invoice site, en dit binnen een termijn van
            maximaal 3 maanden volgend op de afgifte van het kassaticket. Indien de Klant gebruik maakt van zijn My
            Invoice Card, kan de Klant, na registratie op My Invoice, zijn factuur aanvragen aan de kassa door middel
            van afgifte en scanning van deze My Invoice Card op het ogenblik van betaling.  Indien u gebruikt maakt van
            de mobiele applicatie van Carrefour kan u uw  kasticket digitaal visualiseren, en op basis van deze
            gedigitaliseerde view een factuur aanvragen.
        </li>
        <li>Indien u in het bezit bent van een Carrefour Bonus Card als Professioneel Gebruiker (zie voorwaarden
            Carrefour Bonus Card programma) zal u voor de aankopen gekoppeld aan deze Carrefour Bonus card, automatisch
            een factuur ontvangen via My invoice. Het louter en alleen afgeven van je Carrefour Bonus Card
            (Professioneel Gebruiker) aan de kassa of het gebruik van je Professionele Carrefour Bonus Card bij online
            aankopen zal aldus automatisch een factuur genereren.
        </li>
        <li>Voor uw aankopen verricht met een Carrefour Bonus Card gekoppeld aan uw status als Particulier Gebruiker of
            voor uw aankopen zonder gebruik te maken van uw Carrefour Bonus Card dient u uw factuur op te vragen via My
            Invoice of via het gebruik van je My Invoice Card aan de kassa.
        </li>
        <li>Een factuur wordt gegenereerd voor alle aankopen gekoppeld aan het desbetreffende kassaticket. Het is niet
            mogelijk om een elektronische factuur aan te vragen voor een gedeelte van de aankopen van het desbetreffende
            kassaticket. Na de aanvraag van de klant(via de site, via de My Invoice Card of door gebruik van zijn
            Professionele Carrefour Bonus Card) voor het bekomen van en factuur voor zijn aankopen zal Carrefour Belgium
            de factuur verzenden aan de klant en dit ten vroegste 1 dag na de aanvraag. Deze factuur is digitaal
            gehandtekend en wordt per mail verstuurd aan de klant. Deze factuur is de enige wettelijke en correcte
            factuur. Deze factuur omvat immers een digitale handtekening en wordt eveneens ter beschikking gesteld aan
            de klant via zijn MyInvoice-account in de rubriek "Mijn facturen". Carrefour Belgium garandeert de
            authenticiteit van de factuur als tevens dat de factuur alle vereiste gegevens omvat. Daarenboven verzekert
            Carrefour Belgium de gelijkwaardigheid van de elektronische factuur aan de papieren factuur. Elke
            elektronische factuur door Carrefour Belgium ter beschikking gesteld van de klant door middel van My Invoice
            is tegenstelbaar aan derden. Indien in bepaalde omstandigheden de klant verplicht zou zijn om een papieren
            factuur te ontvangen, zal Carrefour Belgium, kosteloos, aan de klant een papieren duplicaat van de
            elektronische factuur bezorgen.
        </li>
        <li>De klant kan zijn elektronische facturen gedurende 24 maanden volgend op hun uitgifte opnieuw (kosteloos)
            raadplegen via My Invoice en eventueel afprinten. Alle documenten (pdf) gegenereerd via My Invoice kunnen
            worden geraadpleegd, geregistreerd en uitgeprint via de gewone besturingssystemen. Het is echter de
            verantwoordelijkheid van de klant om al deze elektronische documenten te bewaren gedurende de wettelijke
            vereiste termijnen. Carrefour draagt op dit vlak geen enkele verantwoordelijkheid.
        </li>
        <li>Klanten met buitenlandse BTW-nummers kunnen geen facturen aanvragen My Invoice.</li>
        <li>Carrefour Belgium verwerkt uw gegevens, als verantwoordelijke voor de verwerking, in het kader van het
            beheer en uitvoering van de diensten van My Invoice en dit  in overeenstemming met deze voorwaarden en de
            privacyverklaring zoals u deze kan terugvinden op <a
                    href="http://http://contact.carrefour.eu/nl/form.html/">http://contact.carrefour.eu/nl/form.html/</a>
        </li>
    </ol>

    <p>Uw persoonsgegevens worden bewaard voor de duur van uw My invoice account. Na beëindiging van uw My Invoice
        account worden uw persoonsgegevens nog maximaal  12maanden bewaard, alvorens zij definitief worden verwijderd.
        Niettegenstaande voorgaande, bewaart Carrefour de facturen gedurende de wettelijke bewaartermijn.</p>

    <p>Indien de klant zijn  rechten zoals uiteengezet in de privacyverklaring uitoefent, zal het schrappen van gegevens
        die noodzakelijk zijn voor aanmaken van facturen en/of kredietnota"s  tot gevolg hebben dat de klant niet langer
        gebruik kan maken van deze mogelijkheid via My Invoice. Het schrappen van bepaalde gegevens doet geen afbreuk
        aan de wettelijkheid van de reeds door Carrefour Belgium opgestelde facturen en /of kredietnota"s. Deze facturen
        en/of kredietnota"s zullen in het kader van de wettelijke verplichtingen van Carrefour niet geschrapt
        worden.<br>
        De gegevenswijzingen worden verwerkt binnen de maand volgend op de aanvraag.</p>
    <ol>
        <li>De gebruikersnaam en het wachtwoord van de klant teneinde toegang te verkrijgen tot zijn account als tevens
            zijn My Invoice Card zijn strikt vertrouwelijk. De klant is persoonlijk verantwoordelijk voor de beveiliging
            van zijn wachtwoord, voor het bewaren van zijn My Invoice Card en dient elk misbruik te vermijden. Alle
            activiteiten die op My Invoice worden uitgevoerd met zijn wachtwoord en gebruikersnaam als tevens elke
            aanvraag via zijn My Invoice Card, worden aan de klant toegewezen. In geval van verlies van de
            gebruikersnaam en wachtwoord of ingeval van verlies van zijn My Invoice Card, of als de klant vermoedt dat
            hun vertrouwelijke karakter werd geschonden, dient de klant zo snel mogelijk contact met Carrefour Belgium
            op het nummer <strong>0800/9.10.11</strong></li>

        <li>Carrefour Belgium kan niet verantwoordelijk worden gesteld in geval van een storing aan de
            computernetwerken, verliezen, vertragingen of technische mankementen veroorzaakt door het internet of
            technische dienstverleners die tussenkomen in de overdracht van gegevens en het hosten van de website.
        </li>

        <li>Indien de klant zijn My Invoice Card aanvraagt via My Invoice, zal deze per post worden toegestuurd aan de
            klant op het adres dat hij aan Carrefour Belgium bezorgd heeft op het ogenblik van zijn inschrijving.
            Carrefour Belgium kan niet verantwoordelijk worden gesteld indien de klant verkeerde gegevens heeft
            opgegeven op het ogenblik van zijn inschrijving. Indien de klant zijn My Invoice Card niet heeft ontvangen
            binnen een termijn van 1 maand volgend op zijn inschrijving en aanvraag via My Invoice, dient hij Carrefour
            Belgium hierover onmiddellijk in te lichten door contact op te nemen met onze Helpdesk
            <strong>0800/9.10.11</strong>. Carrefour Belgium kan in geen enkel geval verantwoordelijk worden gesteld
            voor het verloren gaan van de My Invoice Card bij het verzenden ervan.
        </li>
    </ol>

    <p>Carrefour Belgium kan inschrijvingen van een of meerdere klanten opschorten en annuleren of kan bepaalde klanten
        uitsluiten, na schriftelijke kennisgeving, indien een verdacht gedrag wordt vastgesteld, zoals maar niet beperkt
        tot: fraude, de aansluiting van meerdere personen en verschillende computers vanop dezelfde identifier, namelijk
        hetzelfde profiel dat werd geregistreerd op de database voor de inschrijving op de site, een poging om de
        servers van de organiserende onderneming te hacken, een vermenigvuldiging van de rekeningen.</p>
    <p>Carrefour Belgium behoudt zich het recht voor om de algemene voorwaarden te wijzigen zonder dat de
        aansprakelijkheid van Carrefour Belgum kan ingeroepen worden. Carrefour Belgium  kan niet aansprakelijk worden
        gehouden voor eventuele schade of kosten, van welke aard dan ook, opgelopen in het kader van het gebruik van My
        Invoice of het gebruik van de My Invoice Card.</p>

    <p>15. Heeft de klant toch een klacht, dan kan deze contact opnemen met het onthaal in de winkel of met onze
        Helpdesk op het nummer <strong>0800/9.10.11</strong><br>
        16. &nbsp;In geval er misbruik wordt gemaakt van My Invoice of de My Invoice Card, indien de algemene
        voorwaarden niet worden gerespecteerd, in geval van fraude in hoofde van de klant…  (deze oplijsting is niet
        limitatief) behoudt Carrefour Belgium zich het recht voor alle nodige maatregelen te nemen om haar belangen te
        vrijwaren en de eventuele geleden schade te recupereren.&nbsp; <br>
        17.&nbsp;Carrefour Belgium stelt alles in het werk om My Invoice en de My Invoice Card met alle redelijke
        middelen te beveiligen. Carrefour Belgium neemt geen enkele verantwoordelijkheid voor eventuele rechtstreekse of
        onrechtstreekse schade aan uw computerinstallatie of smartphone, veroorzaakt door het gebruik van My Invoice.&nbsp;
        Carrefour Belgium kan niet aansprakelijk worden gesteld voor een — zelfs tijdelijke — onderbreking van de
        service op haar website of mobiele applicatie of onderbreking in de werking van de My Invoice Card. My Invoice
        kan hyperlinks bevatten naar andere websites waarover Carrefour Belgium geen enkele technische of inhoudelijke
        controle uitoefent. <br>
        18. Carrefour Belgium kan niet aansprakelijk worden gesteld voor de rechtstreekse of onrechtstreekse gevolgen
        van materiële of andere fouten in verband met de informatie die de klant ons heeft bezorgd op ogenblik van zijn
        inschrijving op My Invoice. <br>
        19. In België is My Invoice van Carrefour beperkt tot het Belgisch grondgebied. Het Belgisch recht is van
        toepassing, en enkel de rechtbanken bevoegd voor de maatschappelijke zetel van Carrefour Belgium zijn bevoegd in
        geval van een geschil. </p>
</section>


<!-- :::::::::::::::::::::::::::::::  Gebruiksvoorwaarden Carrefour Connect :::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<h1>GEBRUIKSVOORWAARDEN CARREFOUR CONNECT</h1>

<p><strong>Carrefour Belgium of Carrefour: </strong> Carrefour Belgium NV, met maatschappelijke zetel te Olympiadenlaan
    20 te 1140 Brussel en met ondernemingsnummer 0448.826.918 en met BTW nummer [BE 448.826.918]].</p>
<p><strong>Platform</strong>: is de Carrefour website of de mobiele applicatie </p>
<p><strong>Carrefour Connect: </strong>is een mechanisme voor de elektronische registratie en identificatie van de
    gebruikers van de Carrefour-website en /of mobiele applicatie. Hierdoor moeten Klanten maar één keer inloggen op hun
    account teneinde te kunnen navigeren tussen de verschillende beveiligde zones van online diensten  van Carrefour
    Belgium per Platform en gebruik te kunnen maken van de diensten van Carrefour. De deelnemende websites, diensten en
    mobiele applicaties kunnen door Carrefour Belgium te allen tijde worden aangepast.</p>
<p><strong>Gebruiker: </strong> Een Particulier Gebruiker en/of Professioneel Gebruiker. </p>
<p><strong>Particulier Gebruiker: </strong>natuurlijk persoon van minstens 18 jaar oud die de onlinediensten van
    Carrefour Belgium gebruikt voor privédoeleinden.  Eens u als Particulier Gebruiker geregistreerd bent, kan dit
    nadien niet meer gewijzigd worden naar een Professioneel Gebruiker..</p>
<p><strong>Professioneel Gebruiker: </strong> vertegenwoordiger van een Onderneming die de onlinediensten van Carrefour
    Belgium gebruikt in het kader van zijn professionele activiteiten. Eens u als Professioneel Gebruiker geregistreerd
    bent, kan dit nadien niet meer gewijzigd worden naar een Particulier Gebruiker. </p>
<p><strong>Onderneming:</strong> Elke organisatie die in hoofd of in bijkomende orde een winstgevende activiteit voert,
    beschikt over een exploitatiezetel in België en in het bezit is van een Belgisch ondernemingsnummer of BTW nummer.
    Hieronder eveneens begrepen alle natuurlijke personen die een vrij beroep uitoefenen. <br>
    <strong>Carrefour Bonus Card</strong>: Getrouwheidskaart waarmee een kaarthouder geïdentificeerd kan worden en die
    toegang geeft tot het Carrefour Bonus Card-getrouwheidsprogramma. <br>
    <strong>Partnerbedrijven</strong>: bedrijven die een overeenkomst hebben met Carrefour Belgium en samenwerken in het
    kader van het Carrefour Bonus Card-getrouwheidsprogramma.</p>
<p><strong>Mijn Account of Account: </strong>portaal die de gebruiker van Carrefour Connect toelaat te genieten van een
    persoonlijke pagina die hem in staat stelt zijn persoonsgegevens te beheren en met verschillende functies verbonden
    aan de verschillende deelnemende sites, mobiele applicaties en onlinediensten . Bijvoorbeeld:  indien de Gebruiker
    toegetreden is tot het Carrefour Bonus Card programma en hij deze gegevens heeft meegedeeld in het kader van
    Carrefour Connect: het consulteren van het saldo van de Carrefour Bonuspunten en onderliggende transacties, het
    afdrukken of annuleren van Bonuscheques, leden toevoegen aan een Carrefour Bonus Card account, ….Deze Account laat
    de Gebruiker toe om met éénmalige ingave van username en wachtwoord, direct toegang te verkrijgen tot de beveiligde
    zones van de verschillende onlinediensten waarvoor hij zich heeft ingeschreven. </p>

<p><strong>Inleiding</strong></p>


<p>Deze algemene voorwaarden bepalen de procedure die Carrefour Belgium heeft ontwikkeld voor de elektronische
    registratie en identificatie van Gebruikers van Carrefour Belgium via Carrefour Connect. Aan de hand van die
    procedure kunnen Gebruikers, door zich eenmalig aan te melden op de deelnemende Carrefour Belgium-websites of de
    mobiele applicatie, de verschillende onlinediensten van Carrefour Belgium waarvoor zij zich hebben ingeschreven
    gebruiken. Het Carrefour Connect-systeem: </p>
<ul>
    <li>vereist maar één enkel paswoord voor alle deelnemende onlinediensten van Carrefour Belgium. De gebruiker dient
        zich maar éénmaal aan te melden teneinde toegang te verkrijgen tot de beveiligde zones van de onlinediensten van
        Carrefour Belgium waarvoor hij zich heeft ingeschreven. De Gebruiker moet zich dus niet meerdere keren aanmelden
        en dient slechts eenmaal zijn gebruikersnaam en wachtwoord in te geven.
    </li>
    <li>vereist maar één enkele aanmeldingsprocedure per Platform voor meerdere diensten zodat de Gebruiker niet
        meerdere keren dezelfde informatie moet ingeven.
    </li>
    <li>vereist slechts één enkele afmelding per Platform om alle sessies van alle deelnemende onlinediensten van
        Carrefour Belgium te sluiten.
    </li>
    <li>De gebruikersnaam is uniek en eigen aan elke Gebruiker. Eenzelfde gebruikersnaam kan niet tweemaal gebruikt
        worden teneinde zowel geregistreerd te worden als een Professioneel Gebruiker en als een Particulier Gebruiker.
    </li>
</ul>
<p>Carrefour Belgium behoudt zich het recht voor ten gepaste tijde de nodige updates door te voeren van het Carrefour
    Connect-systeem. Carrefour Belgium zal het nodige in het werk stellen om de hinder naar de Gebruikers toe tot een
    minimum te beperken. Desalniettemin kan Carrefour Belgium niet verantwoordelijk gesteld worden voor eventuele hinder
    of schade geleden door de Gebruiker ten gevolge van deze updates.</p>
<ul>
    <li><strong>Voorwaarden voor het gebruik van de  Carrefour Connect-procedure.</strong><strong> </strong></li>
</ul>

<p>De Gebruiker heeft pas toegang tot de online diensten die aangeboden worden door de Carrefour Belgium-websites en/of
    mobiele applicaties nadat hij de registratieprocedure voor Carrefour Connect en de aanmeldings- en
    identificatieprocedure gevolgd heeft en hij de desbetreffende gebruiksvoorwaarden heeft aanvaard. <br>
    De Gebruiker moet bij de Carrefour Connect-registratie de volgende gegevens bezorgen: </p>
<ul>
    <li>Aanspreking;</li>
    <li>Taal;</li>
    <li>Naam en voornaam;</li>
    <li>Adres;</li>
    <li>E-mail;</li>
    <li>Geboortedatum;</li>
    <li>Gegevens van uw Onderneming indien u zich registreert als Professioneel Gebruiker.</li>
</ul>
<p>Indien de Gebruiker eveneens gebruik wenst te maken van de voordelen van zijn Carrefour Bonus Card, binnen de
    verschillende onlinediensten waarvoor hij zich heeft ingeschreven, dient hij deze gegevens eveneens te bezorgen op
    het ogenblik van zijn Carrefour Connect registratie of achteraf binnen het beheer van Mijn Account. Indien de
    Gebruiker zich registreert als Professioneel Gebruiker dient de Carrefour Bonus Card, om te kunnen genieten van de
    voordelen ervan, gekoppeld te worden aan een Professionele Account zoals bepaald in de voorwaarden van het Carrefour
    Bonus Card – programma. Indien de Gebruiker zich registreert als Particulier Gebruiker dient zijn Carrefour Bonus
    Card, om te kunnen genieten van de voordelen ervan, gekoppeld te worden aan een Particuliere Account zoals bepaald
    in de voorwaarden van het Carrefour Bonus Card – programma. </p>
<p>Elke Gebruiker moet elke wijziging van of fout in zijn gegevens meedelen aan Carrefour Belgium, conform artikel 5.
    Carrefour Belgium is in geen geval aansprakelijk voor schade voortvloeiende uit het feit dat de Gebruiker die
    nieuwe, gewijzigde of foutieve gegevens niet meedeelt. <br>
    Die gegevenswijzigingen worden verwerkt binnen de maand volgend op de aanvraag van de Gebruiker. </p>

<ul>
    <li><strong>Kenmerken en modaliteiten van Carrefour Connect</strong><strong> </strong></li>
</ul>
<p>Carrefour Connect vereenvoudigt de toegang tot meerdere deelnemende onlinediensten van Carrefour Belgium aan de hand
    van één enkele identificatie. De Gebruiker moet rekening houden met de volgende punten om de veiligheid van zijn
    handelingen te waarborgen: </p>
<ul>
    <li>De identificatie van de sessie is enkel geldig voor courante browsers die up-to-date zijn, met de laatste
        software-update;
    </li>
    <li>In het geval van een mobiele applicatie is de identificatie van de sessie enkel gegarandeerd door Carrefour
        Belgium indien toestel van de gebruiker over de laatste update beschikt, zowel van de applicatie als het
        onderliggende operating systeem.
    </li>
    <li>Als de Gebruiker de sessie sluit vanuit eender welke Carrefour Belgium-webpagina met de knop 'Afmelden', sluit
        hij meteen alle open web sessies;
    </li>

    <li>Als hij de sessie niet sluit met de knop 'Afmelden' en de webbrowser of mobiele applicatie nog openstaat, kan de
        Gebruiker alle diensten van de Carrefour Connect gebruiken zonder zich opnieuw te moeten aanmelden, indien deze
        actie plaatsvindt voor de inschakeling van de automatische deactivatie;
    </li>
    <li>Een web sessie wordt gedeactiveerd na 12 uur inactiviteit;</li>
    <li>Een sessie binnen de mobiele applicatie is onbeperkt geldig. Door gebruik te maken van tokens worden de
        credentials van de gebruiker nooit op het toestel bewaard, maar zorgen deze tokens ervoor dat de gebruiker op
        een veilige manier ingelogd kan blijven in de app.
    </li>
    <li>Een sessie binnen de mobiele applicatie wordt enkel gesloten indien de gebruiker expliciet kiest om zich af te
        melden in de mobiele applicatie.
    </li>
    <li>Indien u bent aangemeld als Professioneel Gebruiker zal u op elke deelnemende online dienst geïdentificeerd
        worden als Gebruiker voor professionele doeleinden. Indien u bent aangemeld als Particulier Gebruiker zal u op
        elke deelnemende online dienst geïdentificeerd worden als Gebruiker voor particuliere private doeleinden.
    </li>
</ul>

<p>Carrefour Connect heeft als doel:</p>
<ul>
    <li>De navigatie tussen de verschillende deelnemende websites en diensten te vereenvoudigen en dit per Platform</li>
    <li>het beheer van wachtwoorden voor de Gebruiker te vereenvoudigen.</li>
    <li>de onlinedeelname aan een wedstrijd of andere acties en/of diensten van Carrefour Belgium te vereenvoudigen door
        automatisch, nadat de Gebruiker zich heeft aangemeld, de persoonlijke gegevens in te vullen die nodig zijn om
        aan die wedstrijden, acties en/of diensten deel te nemen.
    </li>
    <li>de navigatie tussen de verschillende deelnemende elektronische Carrefour Connect-kanalen te vereenvoudigen, door
        de Gebruiker maar één keer te laten aanmelden per Platform
    </li>
</ul>

<p>Bij de aanmaak van een Account, erkent u dat de identificatiemethode en de daaraan gekoppelde gegevens persoonlijk
    zijn. U bent verantwoordelijk voor de keuze van uw paswoord en aansprakelijk in geval van ontdekking of misbruik
    ervan. </p>
<p>Indien u op de hoogte bent van het gebruik van uw paswoord zonder uw toestemming of indien uw gebruikersnaam,
    paswoord of andere identificatiemiddelen verloren bent, dient u onmiddellijk Carrefour Belgium hiervan op de hoogte
    te brengen:<br>
    - via de klantendienst van Carrefour die bereikbaar is op het nummer 0800.9.10.11 of <br>
    - via het klantenformulier op de website <a href="http://contact.carrefour.eu/nl/form.html" target="_blank">http://contact.carrefour.eu/nl/form.html</a>. 
</p>

<p>Indien Carrefour Belgium vaststelt of vermoedt dat uw Account, uw gebruikersnaam, uw paswoord of eender welk
    identificatiemiddel ongeoorloofd gebruikt wordt, behoudt Carrefour zich het recht voor uw Account tijdelijk te
    blokkeren. <br>
    Als de aanmeldingsprocedure gedeactiveerd is, kan u via het klantenformulier beschikbaar op de website
    http://contact.carrefour.eu/nl/form.html of via Helpdesk op 0800.9.10.11 vragen om de procedure opnieuw te
    activeren. Carrefour Belgium behoudt zich in dit geval het recht voor uw identiteit te controleren en dit teneinde
    een ongeoorloofd gebruik van uw account door derden te vermijden.</p>
<p>U bent verantwoordelijk voor de keuze van het e-mailadres dat u meedeelt. U verklaart dat het e-mailadres aan u
    toebehoort en dat derden het niet kunnen gebruiken zonder uw toestemming. <br>
    . </p>
<ul>
    <li><strong>De verwerking van persoonsgegevens </strong><strong> </strong></li>
</ul>

<p>Uw gegevens worden verwerkt door Carrefour Belgium NV, als verantwoordelijke voor de verwerking, in het kader van het
    beheer van Carrefour Connect, uw Account en de diensten en producten waarvan u gebruikt maakt en dit in
    overeenstemming met deze voorwaarden en de privacyverklaring zoals deze kan worden teruggevonden op <a
            href="http://contact.carrefour.eu/nl/form.html" target="_blank">http://contact.carrefour.eu/nl/form.html</a>
    <u>Uw </u>persoonsgegevens worden bewaard voor de duur van uw Account en zolang u gebruik maakt van de diensten
    aangeboden door Carrefour Belgium. Na beëindiging van uw Account en indien u geen gebruik maar maakt van de diensten
    van Carrefour Belgium worden uw persoonsgegevens nog maximaal 12 maanden bewaard, alvorens zij definitief worden
    verwijderd, behoudens in geval van wettelijke verplichtingen in hoofde van Carrefour Belgium<br>
    We wensen er echter wel op te wijzen dat indien u niet langer gebruik wenst te maken Carrefour Connect en u uw recht
    op verzet uitoefent, u niet langer gebruik kan maken van de diensten die verbonden zijn met uw Account.</p>
<ul>
    <li><strong>Opzegging en wijziging</strong><strong> </strong></li>
</ul>
<p>De geldigheidsduur van uw Account is onbeperkt, zolang het Carrefour Connect-programma bestaat. Carrefour Belgium
    behoudt zich het recht voor de voorwaarden van het Carrefour Connect-programma te wijzigen of het programma zelfs
    stop te zetten, conform de wettelijke bepalingen of om deelnemende websites van Carrefour toe te voegen of te
    schrappen. Carrefour Belgium verbindt zich ertoe dat mee te delen via de site of via het meest geschikte kanaal in
    functie van de persoonsgegevens waarover Carrefour Belgium beschikt in het kader van het Carrefour Connect
    programma. </p>
<p><strong>7.  Toepasselijk recht en bevoegde rechtbanken</strong><strong> </strong></p>
<p>Het Belgische recht is van toepassing op Carrefour Connect van Carrefour Belgium en op de Algemene Voorwaarden. Bij
    een geschil zijn enkel de rechtbanken van Brussel bevoegd. </p>

<p><strong>Algemene bepalingen</strong></p>

<p>Carrefour Belgium kan deze algemene voorwaarden op elk moment wijzigen. </p>
<p>Carrefour Belgium kan niet aansprakelijk worden gehouden voor eventuele schade of kosten, van welke aard dan ook,
    opgelopen in het kader van Carrefour Connect, voor zover deze schade niet het rechtstreeks gevolg is van een grove
    of opzettelijke fout vanwege Carrefour. Zonder afbreuk te doen aan het algemene karakter van het voorgaande, kan
    Carrefour Belgium niet aansprakelijk worden gehouden voor falende informaticanetwerken, verlies, vertragingen of
    gebreken van technische aard, door storingen van de internetverbinding of bij operatoren die tussenkomen in de
    verzending van gegevens en de hosting van de website.</p>
<p>Carrefour neemt alle nodige technische en organisatorische maatregelen ter beveiliging van uw Account en van uw
    persoonsgegevens. </p>
<p>Elk schrijven met betrekking tot Carrefour Connect moet aan Carrefour Belgium gericht worden op het volgende adres:
    Carrefour Belgium– Postbus 500 – 1070 Brussel. <br>
    8.5 De helpdesk en klantendienst van Carrefour is bereikbaar op het nummer 0800.9.10.11 of via het klantenformulier
    op onze website Carrefour.eu. </p>


<!-- ::::::::::::::::::::::::::::::: Gebruiksvoorwaarden  Applicatie en Websites  :::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<p><strong>1. Bedrijfsgegevens</strong></p>

<p><strong>Firmanaam: </strong>Carrefour Belgium nv<strong> </strong><br>
    <strong>Centrale en maatschappelijke zetel:</strong><strong> </strong><br>
    Carrefour Belgium <br>
    Olympiadenlaan 20 <br>
    1140 Evere <br>
    RPR Brussel – btw BE 0448.826.918 <br>
    <strong>Websites: </strong><a href="http://http://contact.carrefour.eu/nl/form.html/" target="_blank">http://http://contact.carrefour.eu/nl/form.html/</a>
    <br>
    <strong>Contacteer ons: </strong><strong>0800 9 10 11</strong></p>


<p><strong>2. Algemeen</strong></p>
<p>Deze Applicatie en de Websites worden beheerd door Carrefour Belgium NV, Olympiadenlaan 21, 1140 Evere  met
    ondernemingsnummer <strong>0448.826.918</strong><br>
    Deze voorwaarden ("Gebruiksvoorwaarden") beschrijven de voorwaarden waaronder gebruik mag worden gemaakt van deze
    Applicatie en de Websites. <br>
    Deze Gebruiksvoorwaarden zijn  van toepassing op alle Websites en mobiele applicaties (Applicatie) van Carrefour
    Belgium NV, behoudens indien voor een bepaalde website of Applicatie specifieke voorwaarden van toepassing zijn, die
    in dat geval zullen primeren. Indien u gebruik maakt van de diensten aangeboden door Carrefour Belgium of deelneemt
    aan een wedstrijd of actie aangeboden via de Applicatie of Websites, zullen deze diensten, wedstrijden of acties
    onderworpen zijn aan bijkomende voorwaarden. </p>
<p>Om het even welk gebruik van een Website of Applicatie, met het inbegrip van het louter doornemen van de webspagina"s
    impliceert dat u deze Gebruiksvoorwaarden zonder voorbehoud aanvaardt. Behoudens anders luidende wettelijke
    bepaling, kunnen deze Gebruiksvoorwaarden worden gewijzigd door loutere publicatie op de verschillende Websites of
    Applicatie.<br><br/>
    Het gebruik van onze Applicatie of Websites impliceert eveneens dat u onze "Algemene privacyvoorwaarden" aanvaardt.
    Onze privacyvoorwaarden zijn terug te vinden op de Applicatie als tevens op onze Websites.</p>
<p>Deze Gebruiksvoorwaarden zijn onderworpen aan het Belgisch recht. Elk geschil voortvloeiend uit of in verband met
    deze Gebruiksvoorwaarden valt onder de bevoegdheid van de rechtbanken te Brussel. </p>
<p>Voorwaarden met betrekking tot specifieke Websites, applicaties of diensten aangeboden door Carrefour Belgium NV
    kunnen afwijkende bepalingen omvatten die in dat geval zullen primeren.</p>

<p><strong>3. Intellectuele rechten</strong></p>


<p>Tenzij anders vermeld, zijn de merken die worden weergegeven op de Websites of in de Applicatie gedeponeerde
    handelsmerken van Carrefour Belgium NV of haar licentiegevers.</p>
<p>De Websites en de Applicatie,  de onderliggende software alsook de inhoud ervan, met name inzonderheid de teksten,
    beelden, grafische voorstellingen, geluidsbestanden, videobestanden, … zijn beschermd door het auteursrecht en door
    het geheel van de toepasselijke reglementeringen inzake intellectuele eigendom sensu lato. Alle intellectuele
    eigendomsrechten met betrekking tot voorgaande berusten uitsluitend bij Carrefour Belgium NV dan wel bij haar
    licentiegevers. De logo"s - onderscheidende kenmerken van de Carrefour-groep - worden beschermd door het merkenrecht
    <br>
    Elk gebruik van logo's, teksten, beelden, info van persoonlijke aard, die via de Applicatie of Websites beschikbaar
    zijn, mogen alleen na uitdrukkelijke en schriftelijke toestemming van Carrefour Belgium N.V. gebruikt of
    gereproduceerd worden . <br>
    Elke beschadiging van elementen van de Applicatie en of Websites en het gedeeltelijke of gehele reproductie,
    download, kopie, wijziging, commercieel gebruik van de verschillende elementen van de applicatie en of Websites
    zonder uitdrukkelijke toestemming van Carrefour Belgium NV zijn verboden. Daders kunnen vervolgd worden. </p>

<p><strong>4. Licentie Applicatie</strong></p>
<p>Carrefour Belgium NV verleent de gebruiker van de Applicatie een niet exclusieve, niet overdraagbare licentie voor
    het gebruik van de Applicatie. Het is de Gebruiker niet toegestaan de Applicatie of Websites te gebruiken voor
    commerciële doeleinden. U mag als gebruiker deze Applicatie of Website niet ter beschikkingstellen van derden,
    verkopen, verhuren, onderwerpen aan reverse engeneering of aanpassen zonder voorafgaande, uitdrukkelijke en
    schriftelijke toestemming van Carrefour Belgium NV.<br>
    Carrefour Belgium NV heeft te allen tijde het recht om de Applicatie of zijn Websites aan te passen, gegevens te
    wijzigen of te verwijderen, de Gebruiker het gebruik van de Applicatie te ontzeggen door de licentie te beëindigen,
    het gebruik van de Applicatie te beperken of de toegang tot de Applicatie geheel of gedeeltelijk, tijdelijk of
    blijvend te ontzeggen.</p>


<p><strong>5. Gebruik van de Applicatie of Websites</strong></p>


<p>Het gebruik van de Applicatie of Website is voor eigen rekening en risico.<br>
    Indien de gebruiker jonger is dan 16 jaar dient deze voor het gebruik van de Applicatie of een van de Websites
    toestemming te hebben bekomen van zijn ouder of wettelijke voogd. Door deze Applicatie of een van de Websites te
    gebruiken garandeer je dat je 16 jaar of ouder bent of toestemming hebt van je ouders of wettelijke voogd.<br>
    Indien je gebruik wenst te maken van bepaalde functionaliteiten of diensten aangeboden via onze Websites of
    Applicatie, kan het zijn dat je je persoonsgegevens dient mee te delen.  Op verwerking van persoonsgegevens via de
    Websites of de Applicatie is zijn de "Algemene privacyvoorwaarden" van Carrefour Belgium NV van toepassing.<br>
    Om onze Websites te kunnen bekijken of gebruik te maken van de Applicatie dient de gebruiker zelf op zijn eigen
    kosten zorg te dragen voor de daarvoor noodzakelijke apparatuur, systeemprogrammatuur en (internet)verbinding.</p>

<p><strong>6. Aansprakelijkheid</strong></p>


<p>Onze Websites en Applicatie zijn met de grootste zorg samengesteld en ontwikkeld. Carrefour Belgium NV kan echter
    niet garanderen dat de Websites en Applicatie steeds zonder onderbreking, fouten of gebreken beschikbaar dan wel
    functioneel zal zijn en dat de verschafte informatie volledig, juist of up to date is. <br>
    Carrefour Belgium N.V. heeft enkel een inspanningsverplichting met betrekking tot de werking en continuïteit van de
    Applicatie en haar Websites. Carrefour Belgium N.V. kan in geen geval aansprakelijk worden gesteld: <br>
    • voor de verbindingssnelheid van de Applicatie en haar Websites vanuit andere Websites en/of applicaties, voor de
    snelheid waarmee pagina"s van de Applicatie en haar Websites worden geopend en geraadpleegd, voor externe
    vertragingen, voor de opschorting of de ontoegankelijkheid van de dienst, voor het frauduleus gebruik door derden
    van alle inlichtingen die op de Applicatie of haar Websites ter beschikking worden gesteld; <br>
    <br>
    • voor feiten die te wijten zijn aan overmacht, pannes en problemen van technische aard met betrekking tot het
    materiaal, programma"s, netwerksoftware die ervoor kunnen zorgen dat de dienst opgeschorst of stopgezet wordt; <br>
    <br>
    • als de door de  Applicatie of Websites aangeboden dienst niet goed functioneert of niet compatibel is met bepaalde
    software, configuraties, besturingssystemen of materiaal die u gebruikt. </p>
<p>Daarenboven behoudt Carrefour Belgium zich het recht voor om zonder opzeg noch schadevergoeding, geheeld of
    gedeeltelijk, definitiefof tijdelijk een einde te stellen aan de door haar aangeboden diensten via haar Websites of
    Applicatie. Carrefour Blegium kan onder geen enkel beding aansprakelijk worden gehouden voor de schade die daar uit
    voortvloeit.<br>
    Carrefour Belgium Nv wenst er op te wijzen dat de informatie op haar Websites of Applicatie voor evolutie vatbaar is
    en raadt u aan om de toepasselijkheid, de juistheid en de actualiteit van de informatie steeds te controleren. <br>
    Alle nodige voorzorgen worden genomen teneinde de correctheid van productinformatie te garanderen. Desalniettemin,
    worden voedselproducten constant aangepast zodat ingrediënten, voedingswaarden, dieet- en allergenen kunnen
    wijzigen. Om die reden raden wij u aan om steeds de verpakking en het productlabel steeds te lezen en u niet enkel
    en alleen te beroepen op de informatie opgenomen op de website. Indien u vragen heeft of advies wenst over onze
    producten van het merk Carrefour, kan u steeds contact op nemen met ……………… en met de fabrikant indien het producten
    van een nationaal merk betreft. Carrefour Belgium NV kan niet verantwoordelijk worden gesteld voor incorrecte
    productinformatie aangeleverd door de fabrikant. <br>
    U moet uw computersysteem beschermen tegen elke vorm van virussen en/of tegen pogingen van indringing, en een
    back-up van uw gegevens maken. Carrefour Belgium N.V. kan daarvoor niet aansprakelijk gesteld worden. <br>
    U alleen bent verantwoordelijk voor uw gebruik van de diensten van Carrefour Belgium. Carrefour Belgium N.V. is niet
    aansprakelijk in geval van klachten en/of procedures tegen haar. <br>
    Carrefour Belgium nv behoudt zich het recht voor om zijn diensten te wijzigen en te verbeteren waar zij het dat
    nodig of nuttig acht en is niet aansprakelijk voor schade van eender welke aard, die daaruit voortvloeit. <br>
    Carrefour Belgium N.V. behoudt zich bovendien het recht voor om zonder opzegtermijn noch schadevergoeding een dienst
    of alle diensten die door haar in de Applicatie of via haar Websites worden aangeboden, tijdelijk of definitief stop
    te zetten. Carrefour Belgium N.V. is niet aansprakelijk voor schade van eender welke aard die daaruit voortvloeit.
    <br>
    Carrefour Belgium behoudt zich het recht voor deze voorwaarden op eender welk moment te wijzigen door loutere
    kennisgeving op haar Websites of applicatie.</p>


<p><strong>7. Externe links</strong></p>
<p>De Applicatie of de Websites kan hyperlinks naar andere Websites en/of applicaties bevatten die op hun beurt
    onderworpen worden aan hun eigen gebruiksregels, met name betreffende het gebruik van uw persoonlijke gegevens. Het
    is aangeraden kennis te nemen van de gebruiksregels van die Websites en in het bijzonder van de regels die van
    toepassing zijn op het gebruik van persoonlijke gegevens. Carrefour Belgium nv is niet aansprakelijk voor andere
    websites en/of applicaties waartoe u toegang heeft via onze applicatie of Websites, met betrekking tot hun inhoud,
    werking, de toegang tot die Websites en met betrekking tot het gebruik van de persoonlijke gegevens door die
    websites. <br>
            </p>


<p><strong>8. Onwettige inhoud / Goede zeden</strong></p>
<p>Elke handeling waamee u een andere persoon beperkt of verhindert om de Applicatie of de Websites te gebruiken, is
    strikt verboden. De Applicatie, de Websites en  de informatie die ze bevatten, mag u enkel gebruiken voor
    persoonlijke doeleinden. <br>
    Het is dan ook verboden om via de Applicatie of de Websites onwettige, schadelijke, lasterlijke, pornografische,
    haatdragende, racistische elementen of elementen die op een andere manier de menselijke waardigheid schenden, te
    publiceren of te verzenden. Als Carrefour Belgium N.V. op de hoogte wordt gebracht van de aanwezigheid van verboden
    inhoud in de Applicatie of haar Websites mag zij de inhoud ervan onmiddellijk verwijderen. Carrefour Belgium N.V.
    kan alle nodige maatregelen nemen om zijn rechten te doen naleven. </p>

<p><strong>9. Beëindiging gebruik van de Applicatie door de gebruiker</strong></p>


<p>De gebruiker kan het gebruik van de Applicatie op ieder moment beëindigen door de Applicatie van zijn mobiele
    apparaat te verwijderen.</p>
<div>
    <div></div>
    <div></div>
    <div></div>
</div>