@font-face {
    font-family: 'Open Sans';
    src: url('./opensans-regular-webfont.woff2') format('woff2'),
    url('./opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('./opensans-regular-webfont.woff2') format('woff2'),
    url('./opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Medium';
    src: url('./opensans-regular-webfont.woff2') format('woff2'),
    url('./opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Semi Bold';
    src: url('./OpenSans-Semibold-webfont.woff2') format('woff2'),
    url('./OpenSans-Semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('./OpenSans-Bold-webfont.woff2') format('woff2'),
    url('./OpenSans-Bold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
