.app {
  position: absolute;
  width: 460px;
  height: 100%;
  right: -540px;
  top: 0;
  transition: right 500ms cubic-bezier(.3,.91,.3,.92);
  z-index: 100;

  ion-app {
    position: absolute;
    box-shadow: 0 0 10px 0  rgba(#000, .4);
    z-index: 100;
    background-color: #fff;
  }

  .close-app {
    position: absolute;
    left: -45px;
    width: 45px;
    height: 45xp;
    box-shadow: 0 0 5px 0  rgba(#000, .4);
    display: block;
    color: #0970e6;
    font-family: Arial;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    background-color: #fff;
    z-index: 99;
    border-radius: 0 0 0 10px;
  }
}

.app-open {
  .app {
    right: 0;
  }

  .website {
    width: calc(100% - 460px);

    .header {
      width: calc(100% - 460px);
    }
  }
}

ul.clean {
  list-style-type: none;
}

.df {
  display: flex;
}

body {
  position: relative !important;
  overflow: auto !important;
  overflow-x: hidden !important;
}

.app-open .website .header .icons .action-basket {
  background-color: darken(#F0F0F0, 5%);

  .fa-shopping-basket {
    display: none;
  }

  .fa-times {
    display: block;
  }
}

.basket-known .website .header .icons .action-basket .items-in-basket {
  display: block;
}

.basket-known .website .header .icons .spinner {
  display: none;
}

.basket-known .website .header .icons .action-basket {
  display: inline-block;
}

.no-store .website .header .icons .action-store {
  display: inline-block;
}

.website {
  font-family: "omnes_carrefourmedium", "Helvetica Neue", "Roboto", sans-serif;
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
  overflow: scroll;
  transition: width 500ms cubic-bezier(.3,.91,.3,.92);

  a {
    color: #0970e6;
  }

  .header {
    position: fixed;
    width: 100%;
    z-index: 99;
    height: 87px;
    transition: width 500ms cubic-bezier(.3,.91,.3,.92);

    .header__bg {
      background-color: #F0F0F0;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 99;
    }

    .toaster {
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 10px;
      margin-right: 10px;
      background-color: #42beec;
      color: #FFF;
      padding: 10px;
      opacity: 0;
      z-index: 88;
      transition: all 500ms cubic-bezier(.3,.91,.3,.92);

      &.toaster--shown {
        top: 100%;
        opacity: 1;
      }

      p {
        margin: 0;
      }
    }

    .items-in-basket {
      position: absolute;
      right: 15px;
      bottom: 10px;
      display: none;
      color: #fff;
      background-color: #42beec;
      font-family: Arial;
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
      padding: 10px;
      text-decoration: none;
      z-index: 99;
      border-radius: 10px;
    }

    .icons {
      float: right;
      position: relative;
      z-index: 100;

      a {
        display: inline-block;
        vertical-align: top;
        padding: 25px;
        padding-top: 20px;

        &:hover {
          background-color: darken(#F0F0F0, 5%);
        }
      }

      .action-user {
        display: none;
      }

      .action-store {
        display: none;
      }

      .action-basket {
        padding-right: 30px;
        display: none;
        text-decoration: none;

        .fa-shopping-basket {
          display: block;
        }

        .fa-times {
          display: none;
        }
      }

      .spinner {
        color: darken(#F0F0F0, 15%);
        animation: spin 2s linear infinite;
        display: inline-block;
        padding-top: 30px;
        padding: 30px;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  .article {
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 750px;
    padding-bottom: 3rem;
    color: #0970e6;

    .article__header {
      font-weight: bold;
      font-size: 3rem;
    }

    .article__paragraph {
      line-height: 25px;
      margin-bottom: 3rem;

      a {
        font-weight: bold;
      }
    }

    .article__products {
      margin-bottom: 4rem;

      li{
        margin-right: 10px;
      }
    }

    .article__recipe {
      width: calc(100% - 300px);
    }

    .article__ingredients {
      width: 300px;
      padding-top: 30px;

      li {
        margin-bottom: 10px;
      }

      a {
        font-size: 1.5rem;
        color: #0970e6;
        font-weight: bold;
      }
    }
  }

  .buttons {
    .button {
      margin-bottom: 2rem;
    }
  }
}

.not-logged-in {
  .website .header .icons .action-user {
    display: inline-block;
  }
}

.user {
  width: 500px;
  margin: 300px auto;

  .button {
    margin-bottom: 20px;
  }
}

@keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
