<button id="picker_{{id}}" type="button" ng-click="popupLanguageList.toggle($event);initApp();" class="lgChooseButton">
<!-- <button id="picker_{{id}}" type="button" ng-click="popupLanguageList.toggle($event);showCategories();" class="lgChooseButton"> -->
{{chooseButtonText}}
</button>

<popup api="popupLanguageList" class="storepickerpopup">
    <!--<div ng-repeat="eachStore in allStoreData | filter: {show: true}">
      <button type="button"
      	ng-click="popupLanguageList.hide();
      	updateModel(eachStore.code,eachStore.name)" class="lgStoreChoiceButton">
      		{{eachStore.name}} ({{eachStore.nativeName}})
      </button>
      </div>-->
    <div class="contenu">
        <div class="contenu_left {{theme}}_bg_color_dark">
            <div class="search_form {{theme}}_bg_color_dark">
                <form class="recherche_left" action="#">
                    <a href="" ng-if="loading==false && hideGeoloc!=true" ng-click="geolocate();" class="gm-geolocate icon-localisation {{theme}}_color_dark">&nbsp;</a>
                    <dir class="loader gm-geolocate" ng-if="loading==true && hideGeoloc!=true"></dir>
                    <input placeholder="{{content.givePosition}}" id="lg-autocomplete" value="{{locationName}}" type="text">
                    <button type="button" class="{{theme}}_bg_color_soft search-and-filter" ng-click="triggerGeo();">
                    <div class="icon-search"></div>
                  </button>
                </form>
                <a href="javascript:void(0)" ng-click="toggleFilterContent(id)" class="mobile_only filter_mobile" ng-if="ladActive==false">
               {{content.filter}}<i>---</i>
               <span class="icon-arrow-down" id="up-down-arrow-filter"></span>
               </a>
               <div class="option_link disnone_mobile" id="filter_{{id}}" ng-if="ladActive==false">
               	    <div class="all_filtre {{theme}}_bg_color_dark" style="display: block;">
                        <div class="filtrettl" style="display: none;">
                            <span>{{content.activeFilters}}</span>
                        </div>
                        <div class="contenu_filtre">
                        	<!-- lister les filtres -->
                        	<span class="itemftr" ng-repeat="eachSubCategory in servicesPerInstance[id] | filter: {active:true,show:true} ">
                        	<span class="icon-{{eachSubcategory.serviceID}}"></span>{{eachSubCategory.name}}
                        		<a class="icon-close-circle color_soft active gm-custom-filter" data-id="{{eachSubCategory.serviceID}}_{{id}}" href="" ng-click="disableService(eachSubCategory.serviceID,id);"></a> 
                        	</span>  
                        	<span class="itemftr" ng-if="openNowSubcategory">
                        	<span class="icon-tag-open"></span>{{content.openNow}}
                        		<a class="icon-close-circle color_soft active gm-custom-filter" data-id="openNow_{{id}}" href="" ng-click="disableService('openNow',id);"></a> 
                        	</span> 
                        	<span class="itemftr" ng-if="openSundaySubcategory">
                        	<span class="icon-tag-open"></span>{{content.sunday}}
                        		<a class="icon-close-circle color_soft active gm-custom-filter" data-id="openSunday_{{id}}" href="" ng-click="disableService('openSunday',id);"></a> 
                        	</span> 
                        	<span class="itemftr" ng-if="lgParameters.lgOpenDate">
                        	<span class="icon-calendrier"></span>{{content.openOn}} {{lgParameters.lgOpenDate}}
                        		<a class="icon-close-circle color_soft active gm-custom-filter" data-id="openOn_{{id}}" href="" ng-click="disableService('openOn',id);"></a> 
                        	</span>
                        </div>
                    </div>
               </div>
            </div>
            <div class="{{theme}}_bg_color_soft" ng-if="ladActive==false">
                <div class="option_link disnone_mobile" id="filter_{{id}}">
                    
                    <a ng-repeat="eachCategory in categoriesPerInstance[id] | filter: {show: true}" href="" ng-click="toggleSubcategoriesVisibility(eachCategory.catID, id)" class="option {{theme}}_bg_color_{{eachCategory.style}}">
                        <span class="icon-{{eachCategory.catID}}" data-id="{{eachCategory.catID}}"></span>{{eachCategory.name}}
                    </a>

                    <div ng-repeat="eachCategory in categoriesPerInstance[id] | filter: {show: true}" class="onglet_tt for_{{eachCategory.catID}}" id="{{eachCategory.catID}}_{{id}}">
                        <div ng-switch on="eachCategory.catID">
                            <div ng-switch-when='CAT_HOURS'>
                            <ul class="liste_option">
                                <li>
                                    <a href="" id="openNow_{{id}}" ng-click="toggleSubcategorySelection('openNow', id);reloadResults(true);" class="gm-custom-filter" data-gm-qs="openNow=true" data-enabled="false">
                                    <span class="icon-tag-open"></span>{{content.openNow}}</a>
                                </li>
                                <li>
                                    <a href="" id="openSunday_{{id}}" ng-click="toggleSubcategorySelection('openSunday', id);reloadResults(true);" class="gm-custom-filter" data-gm-qs="openSunday=true" data-enabled="false">
                                    <span class="icon-tag-open"></span>{{content.sunday}}</a>
                                </li>
                                <li class="option-datepicker">
                                    <!-- <a href="" data-id="openOn" id="openOn_{{id}}" ng-click="toggleSubcategorySelection('openOn', id);reloadResults();" class="gm-custom-filter" data-gm-qs="openOn=" data-enabled="true" style="display: none;">
                                    <span class="icon-tag-open"></span>Ouvert le ${criteria.openOn}
                                    </a> -->

                                <form lpformnum="149" >
                                    <label for="openOn-datepicker"><span class="icon-calendrier"></span>{{content.openOn}}</label>
                                    <input id="openOn-datepicker" type='text' datepicker ng-model="date" class="datepicker-here" readonly/>
                                    <!-- <input id="openOn-datepicker" value="" data-date-format="dd/mm/yyyy" data-language="fr" data-position="right top" type="text"> --> 
                                    <!--<datepicker date-format="YYYY-MM-DD">
                                        <input ng-model="date" type="text"/>
                                    </datepicker> -->
                                </form>
                                </li>


                            </ul>
                            </div>
                            <div ng-switch-default>
                                <ul class="liste_option">
                                    <li ng-repeat="eachSubcategory in servicesPerInstance[id] | filter: {category: eachCategory.catID, show: true}">
                                        <a href="" id="{{eachSubcategory.serviceID}}_{{id}}" ng-click="toggleSubcategorySelection(eachSubcategory.serviceID, id);reloadResults(true);"><span class="icon-{{eachSubcategory.serviceID}}"></span>{{eachSubcategory.name}}</a>
                                    </li>
                                </ul>
                             </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="ladActive==true">
        <div class="ladMessage success" ng-if="ladAvailable==true"><span>{{content.ladSuccessMessage}}</span><button class="selectDarkStore" ng-if="darkStoreId" ng-click="callUserFunction(darkStoreId)" type="button">{{content.ladChooseButton}}</button></div>
        <div class="ladMessage fail" ng-if="ladAvailable==false">{{content.ladFailMessage}}</div>
    </div>
    <div class="contenu_corps" ng-if="ladActive==false">
        <div class="contenu_faux_bt">
            <div id="icon-plus-circle"><a href="javascript:void(0)" class="plus {{theme}}_bg_color_soft"><span class="icon-plus-circle"></span></a>
            </div>
            <div id="icon-min-circle"><a href="javascript:void(0)" class="moins {{theme}}_bg_color_soft"><span class="icon-min-circle"></span></a>
            </div>
        </div>
        <div id="map_{{id}}" class="map"></div>
        <div id="bottom_content" class="slide_home {{theme}}_bg_color_soft_before" ng-if="showBottom==true">
            <a href="" ng-click="toggleBottomContent();" class="open_close_slide {{theme}}_bg_color_soft_before {{theme}}_color_dark">
                <p><span id="up-down-arrow" class="icon-arrow-down">&nbsp;</span></p>
            </a>
            <div class="hide_all_content">
                <div style="display:flex;">
                    <h2 class="h2modif {{theme}}_bg_color_dark"><span class="icon-search"></span>{{content.results}} :  {{locationName}} </h2>                
                    <div class="contenu_filtre">
                            <!-- lister les filtres -->
                        <span class="itemftr" ng-repeat="eachSubCategory in servicesPerInstance[id] | filter: {active:true,show:true} ">
                        <span class="icon-{{eachSubcategory.serviceID}}"></span>{{eachSubCategory.name}}
                             <a class="icon-close-circle color_soft active gm-custom-filter" data-id="{{eachSubCategory.serviceID}}_{{id}}" href="" ng-click="disableService(eachSubCategory.serviceID,id);"></a> 
                        </span>  
                        <span class="itemftr" ng-if="openNowSubcategory">                            <span class="icon-tag-open"></span>{{content.openNow}}
                             <a class="icon-close-circle color_soft active gm-custom-filter" data-id="openNow_{{id}}" href="" ng-click="disableService('openNow',id);"></a> 
                        </span> 
                        <span class="itemftr" ng-if="openSundaySubcategory">
                        <span class="icon-tag-open"></span>{{content.sunday}}
                            <a class="icon-close-circle color_soft active gm-custom-filter" data-id="openSunday_{{id}}" href="" ng-click="disableService('openSunday',id);"></a> 
                        </span> 
                        <span class="itemftr" ng-if="lgParameters.lgOpenDate">
                        <span class="icon-calendrier"></span>{{content.openOn}} {{lgParameters.lgOpenDate}}
                            <a class="icon-close-circle color_soft active gm-custom-filter" data-id="openOn_{{id}}" href="" ng-click="disableService('openOn',id);"></a> 
                        </span>
                        </div>
                </div>
                <section class="slide_home_magasin">
                    <div ng-repeat="eachStore in slickLocations | unique:'locationID'" on-finish-render="ngRepeatFinished" class="items_store gm-location item_groupe {{eachStore.locType}} tracking" data-location-name="{{eachStore.locType}} {{eachStore.address.city}}" data-location-zip="{{eachStore.address.zipCode}}" data-location-city="{{eachStore.address.city}}" data-location-country="{{eachStore.address.country}}" data-location-id="{{eachStore.locationID}}" data-gm-lat="{{eachStore.address.coordinates.latitude}}" data-gm-lng="{{eachStore.address.coordinates.longitude}}" style="width: 358px; height: 121px;">
                        <div class="languette" ng-show="{{eachStore.opened}}">{{content.open}}</div>
                        <div class="languette closecolor" ng-hide="{{eachStore.opened}}">{{content.closed}}</div>
                        <div id="{{eachStore.locationID}}" class="ttr_carrefour search">
                            <a href="{{eachStore.url}}" class="{{theme}}_color_dark" data-gm-lat="50.8336424" data-gm-lng="4.3354467" data-gm-map-id="map_home" data-gm-location-id="95">
                                <i class="{{theme}}_color_soft"></i>{{eachStore.locType}}<br><span class="uppercase">{{eachStore.name}}</span><strong>&nbsp;(<span class="itin gm-location-distance">{{eachStore.distance}}km</span>)</strong>
                            </a>
                        </div>
                        <div class="adresse">
                            {{eachStore.address.street}}&nbsp;{{eachStore.address.streetNumber}}<br> {{eachStore.address.zipCode}}&nbsp;{{eachStore.address.city}}
                        </div>
                        <div class="btn">
                            <a href="" class="itineraire icon-itiniraire {{theme}}_bg_color_dark"></a>
                            <a href="" ng-click="popupLanguageList.toggle($event);updateModel(eachStore.locationID,eachStore.name);callUserFunction(eachStore.locationID)" class="gopagefiche {{theme}}_bg_color_dark fiche"><span class="icon-arrow-right"></span></a>
                        </div>            
                    </div>
                </section>

            </div>
        </div>
    </div>
    <!-- <div ng-click="popupLanguageList.toggle($event);" style="overflow: hidden; position: absolute; right: 1.7rem; top: 1em; z-index: 10000; cursor: pointer; font-size: 1.5rem; color: #ee0000; -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg);">
        <span class="icon-plus-circle"></span>
    </div> -->
</popup>
